[2015-04-14 10:11] e2 commented on #548
@digitalextremist - I've privately added a `Debugging.dump(obj)` method in specs to handle this somewhat. It tries to convert any Celluloid object into a string safely without side-effects.

So the debugging use case is pretty much solved if you assume people use unit tests (which means this debugging becomes available).

And since custom proxies could better handle this in production code, I'm cl

[2015-04-14 10:11] #548 closed

[2015-04-14 10:14] e2 commented on #524
@digitalextremist - this can be closed. If there are flaky tests, those should be individually opened as new issues.

[2015-04-14 10:53] ioquatix commented on #578
Okay the milestone makes sense but I guess when the time comes to test the rc where will it be announced?

[2015-04-14 10:57] e2 commented on #578
@ioquatix - good point. Probably best to change this issue's title to "Announce 0.17 pre/rc" or something.

[2015-04-14 11:31] e2 commented on #577
@digitalextremist - changes like this should be very fast and atomic, because it makes merging difficult.

It's almost like putting a mutex lock on the repository, so:

- if you want to change "everything", do it quickly, so the patches can be rebased sooner (these changes may make almost all current PRs unmergable)
- if you need more time, break it up into smaller commits (start with uuid, for ex

[2015-04-14 14:18] digitalextremist commented on #577
This will be fast. And the files will be renamed not duplicated or removed. The `Internals` change I took over in the middle after trouble like you mention, so this would not be that way.

[2015-04-14 14:27] digitalextremist commented on #578
The changelog will be broadcast on Google groups as usual, when `pre1` is cut and testable ( with the milestone of closed issues there too ) ... only once tested at `pre1` for a while will the actual release go live. Generally it's also announced on Twitter, in IRC, I even post status updates to LinkedIn and share that with known contributors and dependents. This won't be sudden, undocumented, and

[2015-04-14 14:28] #578 closed

[2015-04-14 14:29] digitalextremist commented on #524
We just need the metadata checks and environment variables allowing then removed.

[2015-04-14 14:49] e2 commented on #524
@digitalextremist - already done on my experimental branch

[2015-04-14 14:54] e2 commented on #577
@digitalextremist - in that case, I'll be waiting for you to let me know, so I can rebase+merge.

I'm currently reworking spec helpers - let me know if any major conflicts/failures come up on my abstractive/e2-experimental branch.

[2015-04-14 15:06] e2 commented on #427
Debugging and tracing in Celluloid should be reworked. I really want better debugging in Celluloid, so I might be working on it.

(Currently, I have a horrible ocean of custom debugs, traces, dump() methods that I frequently *ehm* "rebase against" - all just to fix unit tests. This is madness).

There are plans to make `set_trace_func` be zero-overhead in JRuby, so hopefully there might be more co

[2015-04-14 17:27] e2 commented on #576
@digitalextremist - beware - registry appears twice in the Celluloid tree (the 0.17-x branch with logging/namespace thing). And as far as I know, actors can be "renamed" accidentally through the registry (via a NamingRequest).

[2015-04-14 17:33] digitalextremist commented on #576
@e2 that got cleaned out yesterday?

[2015-04-14 17:35] digitalextremist commented on #577
@e2 I'll do it in like 8-10 hours unless there are objections to the convention.

[2015-04-14 17:35] e2 commented on #576
@digitalextremist - how was I supposed to know?

[2015-04-14 18:21] e2 commented on #577
@digitalextremist - I've rebased my changes to celluloid/0.17.0-prerelese. This stuff is mostly to harden the specs, but it seems ok. I have more coming, but I'll keep in mind the changes.

[2015-04-14 18:23] e2 commented on #577
@digitalextremist - there shouldn't be any objections to the convention. If people want the old classes, you can always do:

[code]

And you can wrap those in a `deprecated.rb` file, which you can simply remove for 1.x.

[2015-04-14 22:01] ioquatix commented on #578
I'm subscribed to that group but I don't get notifications.. perhaps it would be good to have something here?

[2015-04-15 01:42] #524 closed

[2015-04-15 03:09] digitalextremist commented on #577
This is complete, and pushed to the prerelease branch.

[2015-04-15 03:09] #577 closed

[2015-04-15 04:45] digitalextremist commented on #526
@e2 extremely good work on your end. I know there is more to do, but we reached 100% green for all rubies.

[2015-04-15 04:45] #526 closed

[2015-04-15 04:54] digitalextremist commented on #568
To actively discourage putting time into `Group::Pool` right now, it has been removed as a CI test case until we get into this issue later.

[2015-04-15 10:09] e2 commented on #577
Thanks!

[2015-04-15 10:34] e2 opened #579 "Experimental features (experimental branch - unpublished/unmerged)"
@digitalextremist - this is so I can keep track of unmerged work and so you can pick whatever you'd like into the release (I can backport/patch/rebase).

This stuff need work before it's merged:
- [ ] reimplemented (Internal)Pool (requires Reaper)
- [ ] Reaper class (working proof-of-concept, requires `Thread.shutdown_strategy`)
- [ ] `Thread#shutdown_strategy` - (for Reaper) works in Threaded, no

[2015-04-15 10:36] e2 commented on #568
@digitalextremist - it's green, but not wrapped up yet. See: https://github.com/celluloid/celluloid/issues/579

[2015-04-15 10:51] digitalextremist commented on #568
Yeah I'm catching intermittent failures, but only on `jruby-head` and `rbx-2` at present. At gym, will look further soon.

[2015-04-15 14:04] e2 opened #581 "Probe spec issues"
This deserves a separate issue and should not be closed until probe specs *always* pass on *all* 3 platforms:
- MRI
- JRuby
- Rubinius

Why all 3? Because with every fix in the probe specs, they are getting more rare ... but still present.

#### How to test "properly":

Simultaneously run just the probe specs on ALL 3 platforms ... in WHILE loops. (It should run for at least 30 minutes without cra

[2015-04-15 15:05] e2 opened #582 "Disabling Actor#kill on JRuby and Rubinius"
Background: Actor#kill is pretty dangerous, since it calls Thread#kill on the Actor thread. This can potentially kill the thread while it's waiting to get a mutex lock ... which results in pretty bad JRuby/Rubinius exceptions (ConcurrencyError, Lock errors) - something users won't expect (and errors Celluloid can do nothing about).

Also, Actor#kill can kill finalizers and initializers, leaving th

[2015-04-15 15:18] e2 commented on #582
@digitalextremist - I've added it here: https://github.com/celluloid/celluloid/pull/580

[2015-04-15 22:50] niamster commented on #563
@e2 I would agree with @tarcieri that the actor should not crash because of the improper usage. It affects DCell in the same way as normal long living actors. If your actor context is rather heavy(some network pipes, cached stuff) then it is painful to recover. While with local actors this strikes during integration phase(well, why would you want to call a wrong method on local actor), with DCell

[2015-04-15 22:55] niamster commented on #463
If smbd is still curios what's happening here I've found out that at least in MRI the value passed to return or break within a block are always(well, 99%) leaked.
With a minimal patch I could avoid the leak of the method return value in MRI though it still not collected in jruby nor in rbx.
Unfortunately the MRI's objspace module doesn't give any more valuable hints(those don't make any sense).

[2015-04-15 22:56] e2 opened #583 "The Rake `:benchmark` task fails (Pool was removed)"
The failure is on Travis: https://travis-ci.org/celluloid/celluloid/jobs/58674445#L643

(Though, I'm unsure if the benchmarks are even worth running on Travis).

I think benchmarks should be part of a "release" task (a new Celluloid gem version shouldn't be released if there's a big performance drop).

I think an "ideal" benchmark would compare the current version of Celluloid with a previous vers

[2015-04-15 23:01] e2 commented on #463
@niamster - very interesting, thanks.

[2015-04-15 23:02] curtislinden commented on #463
I'm wondering on the status of this... We have a shoryuken process that grows slowly over the day and then hits our high memory mark in docker daily.

I'm suspecting that this issue in celluloid is connected. I'm not sure how we might verify this.

Any thoughts?

[2015-04-15 23:16] e2 commented on #563
@niamster - that's why this should be in the proxy. Ultimately nothing prevents you from calling actor.kill or actor.terminate.

With the way it was implemented, there is no way to "turn it off" (except maybe monkey-patching SyncCall).

For safety, it's best to proxy through a "crashable" actor on the "server" - you probably don't want to expose the actual resource-actor directly to an "untrusted"

[2015-04-15 23:23] e2 commented on #563
@niamster - one problematic issue with this was that e.g. on RBX, calling method() potentially calls inspect(), which may crash itself (leading to a crash causing a crash in the SyncCall and on the actor getting the call).

Not to mention respond_to?, method() and method_missing() handling - way too many interpreter specific (and version specific) issues, that aren't even define in Ruby's specific

[2015-04-15 23:53] tarcieri commented on #563
Even if you do this, it's still a DoS vector for DCell

[2015-04-16 01:33] digitalextremist commented on #576
Revision of problem: Items are stored, but somehow they are being cleared from the registry.

[2015-04-16 13:59] e2 commented on #563
It seems like trying to put a band-aid on a sliced aorta...

E.g. if the DCell node has an actor with a method:

[code]

Then the following call will crash that actor:

[code]

Checking the just method presence and arity seems to me like putting people into a false sense of security.

[2015-04-16 14:51] e2 commented on #563
Since the above example is more related to argument processing and may be considered app-specific, here's a better example of crashing a node "more reliably":

[code]

I'm not that clever to securely plug all the possible uses cases of Marshal.dump/load.

Crashing a node is one thing, but getting it to hang is worse (mostly because crashed nodes can be reused/restarted while hanging nodes are hard

[2015-04-16 16:07] tarcieri commented on #563
@e2 you might want to check @niamster's latest DCell work... he switched it from Marshal to msgpack

And FWIW, if you want to talk security, this is a much more pertinent example:

[code]

[2015-04-16 20:24] e2 commented on #563
@tarcieri - msgpack looks like a cool alternative.

Given the talk about DoS, and crashing the receiver and now security ... doesn't this make this feature very DCell-specific?

The point of failure (and the point where catching it makes sense) seems pretty close to where unmarshalling happens (which is irrelevant in non-DCell Celluloid scenarios).

I simply doesn't seem to belong in Celluloid its

[2015-04-16 20:45] niamster commented on #463
Fixed few memory leaks in mri and jruby: #584
@curtislinden how are you using actors? Do you create them quite often? Which ruby implementation are you using?

[2015-04-16 20:52] curtislinden commented on #463
@niamster  We are using Shoryuken which is using 'async' faculty, they get created for every queue entry in SQS. We have the issue daily - i've set docker to top out memory to that process at 500mb and then to always restart it as a workaround.

I've used ruby mri 2.2.1, mri 2.1.5 and jruby 9.0.0.0.pre1. Memory starts at 120mb and grows to 500mb over about 6-8 hours or about 2000 queue entries

[2015-04-16 21:02] niamster commented on #463
@curtislinden try to delete actor instance variables in the celluloid finalizer. The "celluloized" object is known to be never collected by GC.
You may check a w/a for DCell: niamster/dcell@61d4e0d919ae702df22dc9472aec57f5d7aa32ee

[2015-04-16 21:30] tarcieri commented on #563
Is HTTP 4xx vs 5xx confusing?

Caller side errors are protocol errors, i.e. the caller made a mistake.

Receiver side errors are bugs in the receiver itself.

I do not think it makes sense for mistakes made by callers to crash the receivers.

[2015-04-16 21:32] tarcieri commented on #563
Also, can I please reiterate that if you attempt to change this at this point, you are going to break people's programs in weird ways. We've tried it (probably 2 or 3 times now). We've always reverted it because it broke people's programs.

Like it or not, these semantics are pretty embedded into Celluloid at this point, and I don't think it's possible to change them without breaking everyone's pr

[2015-04-16 22:02] digitalextremist commented on #576
Something @niamster did in #585 resolved this!

[2015-04-16 22:02] #576 closed

[2015-04-16 22:51] digitalextremist commented on #582
For the time being, `kill` is disabled except under `mri` then. Might want to have this wrapped in something that doesn't solely base it off which ruby is being used, but more of a configuration option of `safety` is `on` or `off` and default to `on` as it is now.

[2015-04-16 22:51] #582 closed

[2015-04-16 23:42] digitalextremist commented on #583
https://travis-ci.org/celluloid/celluloid/jobs/58838248#L610

Resolved by creation of `celluloid-extras` gem and movement of `Rehasher` out of the pool example into `Celluloid::Extras::Rehasher`

3fc6e7bec940f04bdf1be27897327bf147285d63

[2015-04-16 23:42] #583 closed

[2015-04-17 00:13] digitalextremist commented on #554
@e2 what's the status with this? I'd like to get all the internals-changing commits in I can before refactoring the supervision gem.

[2015-04-17 00:17] digitalextremist commented on #511
The sub-issues in this are all going to be moved to the issue tracker in their own gem and closed here, but this will remain for overall status.

[2015-04-17 00:52] digitalextremist commented on #430
Moved to: celluloid/celluloid-supervision#3

[2015-04-17 00:52] #430 closed

[2015-04-17 00:54] digitalextremist commented on #355
Moved to: celluloid/celluloid-supervision#4

[2015-04-17 00:54] #355 closed

[2015-04-17 01:01] digitalextremist commented on #233
Moved to: celluloid/celluloid-supervision#6

[2015-04-17 01:01] #233 closed

[2015-04-17 01:01] digitalextremist commented on #331
Moved to: celluloid/celluloid-supervision#5

[2015-04-17 01:01] #331 closed

[2015-04-17 01:04] digitalextremist commented on #464
This, for me, was resolved at #585 by magic. @perlun: flag me down if this is still an issue with `0.17.0-prerelease`

[2015-04-17 01:04] #464 closed

[2015-04-17 01:06] digitalextremist commented on #549
This was created and contains `Rehasher` and a concurrent `Hash` implementation, whereas all the other mentioned gems were created first, and stand alone.

[2015-04-17 01:06] #549 closed

[2015-04-17 09:32] e2 commented on #563
Yes, if I'm trying to run a few jobs in the background - and now suddenly I have to think of calling methods in my app in terms of HTTP requests/responses.

It makes sense in DCell to think this way. But not in this case:

[code]

which is what I'd expect from futures:

[code]

That's a compatibility issue - not an argument in favor of this behavior.

Because of the way things work, I have to catc

[2015-04-17 09:41] e2 commented on #582
@digitalextremist - for the time being, I'd leave it for backward compatibility. It is actually MRI specific - neither JRuby nor Rubinius make any guarantees about how `kill` works, while MRI is single-threaded, so this is ok.

Ideally, it should be removed from MRI as well - but that's in the area of compatibility/releases, so I'm leaving it up to you guys.

(I'm caring about MRI less and less he

[2015-04-17 09:41] digitalextremist commented on #563
At this rate I am going to need to make a `3.0` milestone to start assigning things to. Joking aside, I don't even know if this should be broached in `0.17.5` ... it might be in `0.18.0` or later. It is not that this is not important, it is important. It is just not more important than everything else. Right now, everything else is more important. We basically got the go-ahead for `GSoC` and it's

[2015-04-17 09:54] e2 commented on #554
@digitalextremist - merged into 0.17 prerelease. The rest of the discussion is about other issues. If tests fail they should become new issues, so I'm closing this.

[2015-04-17 09:54] #554 closed

[2015-04-17 09:57] digitalextremist commented on #554
@e2 that's what I thought. Thanks. The issue count for `0.17.0` is looking more manageable.

[2015-04-17 10:04] e2 commented on #557
I'm closing this, because it's covered by other issues/work, such as:

- removing `kill` method on JRuby + Rubinius
- removing Actor#join calls in specs (done - but the API needs more thinking)
- Reaper (not ready - and won't be production ready for 0.17.0)
- hardening the specs (dealing with "dangerously-suspending" warning before continuing with shutdown logic)

[2015-04-17 10:04] #557 closed

[2015-04-17 10:19] e2 commented on #563
@digitalextremist - I'm continuing the discussion, because this code is ALREADY REMOVED from 0.17.0 prerelease!

See here:

https://github.com/celluloid/celluloid/blob/0.17.0-prerelease/lib/celluloid/calls.rb#L24

vs

https://github.com/celluloid/celluloid/blob/master/lib/celluloid/calls.rb#L24

It's up to you whether you want to revert this (manually patch back the check code I guess at this poin

[2015-04-17 11:01] digitalextremist commented on #563
@e2 will you put the `check` method back and invoke it unless `$CELLULOID_STRICT` or the like is `true`? Then for now, in `DCell` or anywhere else really, we can turn on and off the checking... then all we need to decide right now is whether the default is on or off.

[2015-04-17 11:01] e2 commented on #538
@digitalextremist - once we get to this, I'd fix the "double quote" offenses as one separate commit.

The same with every other offense where there's more than one or two - especially since fixing some offenses may (re)introduce memory leaks. (At the very least it's best to be able to bisect).

Also, large RuboCop-fixing commits are tough to work with - unless a single commit addresses a single of

[2015-04-17 11:03] digitalextremist commented on #538
When the time comes, I will step through offense-by-offense and remedy the branch @e2.

[2015-04-17 11:12] digitalextremist opened #586 "recursive requirement of gems"
This is probably easily fixed. I've tried several arrangements and have not reached one that works all the time. Right now, as you may have noticed, either `celluloid` passes its tests and all the gems fail, or all the gems pass and `celluloid` fails. Reason being, there is a circular/recursive gem requirement issue.

Right now, it's in a mode where `celluloid` depends on the gems, so the gems can

[2015-04-17 12:38] e2 commented on #586
@digitalextremist - I'd strongly consider moving current Celluloid stuff into 'celluloid-core' and have 'celluloid' depend on 'celluloid-core' and everything else it needs.

This is doable, but it will take more time than expected - and there's the pressure of time to get a release, right?

This is a tough choice between compatibility and "elegance". I'd pick "elegance" because keeping compatibili

[2015-04-17 12:46] e2 commented on #563
@digitalextremist - I don't want to deal with that code ever again in my life. It also breaks on Rubinius - and the patches were horrible.

I'd prefer to have a separate gem that monkey-patches SyncCall. Anything else is detrimental in my opinion, and this long-thread hasn't brought up a single reason for that code to be in Celluloid.

Working with this code wasn't worth the horrors - and I can't

[2015-04-17 13:50] e2 commented on #586
Supervisors removed here: https://github.com/celluloid/celluloid/pull/587

[2015-04-17 16:36] e2 commented on #586
@digitalextremist - I think the choice is between keeping compatibility (and putting strategically worthwhile effort into extracting celluloid-core) or telling people in the upgrade notes to include any extra gems they need.

I think the safest option is the upgrade notes (and telling people to add deps explicitly). If this becomes too troublesome for people testing the pre-release ... then you ca

[2015-04-17 16:54] e2 opened #588 "Flaky test rediscovered (mailbox timeout test)"
Failure is here: https://travis-ci.org/celluloid/celluloid/jobs/58934604#L662

[code]

The test probably has to be redesigned - I don't think increasing the TIMER_QUANTUM on Travis makes sense.

[2015-04-18 01:49] tarcieri commented on #563
In no other actor/gen_server-like system does a protocol error on the part of a sender crash the recipient by default.

Crashing the recipient when it doesn't have to crash makes isolating the problem harder. Can you imagine if a web server crashed and rebooted every time a client sent malformed input?

The fact you would even say something like this makes me wonder if you've even been reading wha

[2015-04-18 03:57] tarcieri commented on #563
Also, let me please again reiterate:

This change was made for a very deliberate reason. I don't remember what that reason was. Mea culpa. But I remember it being big.

One of us needs to find the reason this was reverted. Until you do, you simply do not have the context to even talk about this section of code because your opinion is uninformed.

Please *DO NOT TOUCH THIS CODE UNTIL YOU HAVE DONE

[2015-04-18 04:06] digitalextremist commented on #563
I went into the lake of fire and retrieved the method. Will fix tests breaking on `Celluloid::Call::Sync` presently, then I am going to close this until `0.18.0` or later.

[2015-04-18 04:12] tarcieri commented on #563
@e2 Let me put it this way:

1. We tried this before
2. It failed for some reason
3. You're asking us to try it again without even attempting to figure out why we reverted this change

Can you not see the fundamental problem here?

[2015-04-18 04:17] digitalextremist commented on #563
I'm going to make a `renaissance` milestone actually, since a theme is developing.

[2015-04-18 04:34] digitalextremist commented on #563
From the long long ago, before time: f2cf9e727c3079b6ff6789b194a9660bfcc8ca02 @halorgium:

errors as related to the original call.

code is used to handle and incorrectly aborts the call instead of
crashing the actor.

Previously `dispatch` had an oops rescue-condom on it, and it was replaced with this more proactive approach to try to break the invocation first. This was `dispatch` with its condo

[2015-04-18 04:43] digitalextremist commented on #563
Whoa. I think the tests are failing now *because they are expecting the actor to die __because it was killed by an invalid method invocation on it__*, for real.

### that just happened

[2015-04-18 05:03] digitalextremist commented on #563
@e2 after re-reading your initial issue from the early days of this ticket, I see you referenced the same commit I did just now. The 8 points you listed, followed by the extremely long thread, would probably not be handled as complicating a release in progress if it were in the context of a total overhaul of `celluloid` because the sort of testing required to prove the safety/sanity of your approa

[2015-04-18 06:11] e2 commented on #563
@digitalextremist , @tarcieri - it's irrelevant if this is useful or not:

My arguments still stand:
1. there's no need for this to be in SyncCall (as opposed to proxies and/or in DCell protocol handling)
2. there's no opt-out
3. debugging development-related crashes with this is a "shitty" experience (which makes Celluloid production friendly, but unfriendly for anything else, like e.g debugging

[2015-04-18 06:14] e2 commented on #563
And you guys are defending it from any refactoring - as if it was humanity's last hope.

[2015-04-18 06:17] digitalextremist commented on #563
@e2 your bullet points and 'arguments' are not being deflected, it's the lack of demonstration reproductions to survey the behaviors, not just PR's with changes, then expecting people to just hop onto the new way of doing things. I'm not opposed to breaking changes. I've put out a lot of breaking changes, it's just the ones without clear reproductions that I shy away from. Rather than relying on t

[2015-04-18 06:19] e2 commented on #563
@digitalextremist - why not move this to a separate gem?

[2015-04-18 06:29] tarcieri commented on #563
@e2 I can't tell if you even understand anything about what's going on here, so can you please answer some basic questions for me?

1) Do you realize @halorgium's change is a revert?
2) Do you know why it was reverted?

Your opinion is moot unless you can answer both of these questions.

[2015-04-18 06:32] e2 commented on #563
@tarcieri - I'm digging deeper here. It's not about the revert, it's about why bother with the handling in the first place? git log doesn't answer that.

[2015-04-18 06:34] tarcieri commented on #563
Until you can figure those things out, YOLO let's just try the same thing over expecting different results is probably not the best approach

[2015-04-18 06:36] e2 commented on #563
@tarcieri - what if it was a big design mistake? What if it's a good idea, but in the wrong form?

[2015-04-18 06:38] digitalextremist commented on #563
What if it's totally unreproduced, given as hypotheticals but made as a definite change affecting the entire release when it could be researched *and* demonstrated - and until then not be diverting energy away from a *scheduled* set of issues? History on this file goes back to April 2011.

[2015-04-18 06:57] e2 commented on #563
@digitalextremist - again, why not a separate gem like friggin' everything else? *Especially* since no one knows/remembers why it's here. Makes no difference, since even supervisors are in a separate gem.

[2015-04-18 07:10] digitalextremist commented on #563
:) I'm afraid this would happen: https://youtu.be/byDiILrNbM4

In all seriousness, unless you can demonstrate a pressing performance issue, or demonstrate a pressing exploit, or demonstrate a pressing theoretical flaw which in turn demonstrates an exploit or performance issue, this is not substantiated even to the point of extracting it.

What specifically is the demonstrated, proven, historically

[2015-04-18 07:16] e2 commented on #563
What about user choice? This is related to exception handling, right? So it's about how *exceptions* are handled. How about users get to decide how exceptions are handled?

"Let it crash" was the philosophy, right?

@tarcieri - is this related to linking by any chance? (It's the *only* thing I can think of - except maybe for call chains).

[2015-04-18 07:19] digitalextremist commented on #563
@e2 I edited my comment before you replied: `actor supervisors` are dying right now. I am responding to you on this ticket, again, but you have next to substantiate the urgency of this issue to prioritize it beyond being addressed in `0.18.0` or `0.17.5` at the soonest.

[2015-04-18 07:28] e2 commented on #563
Is there an issue for this? Backtrace?

[2015-04-18 07:29] e2 commented on #563
@tarcieri - is this it?

https://github.com/celluloid/celluloid/commit/7a7cf7b416d63cbb8d302a176450b2e106a415c7

which was supposed to fix:

https://github.com/celluloid/celluloid/issues/6

?

[2015-04-18 07:31] digitalextremist commented on #563
It's a silent failure that is extremely serious, and apart from `GSoC` is for me driving this upcoming release. *That* is why I do not have space for this concern right now.

[2015-04-18 07:32] digitalextremist commented on #563
I believe what @tarcieri is saying is that if you want to change this section, determine its history, lay out its history, I add *prove with reproductions* how it ought to behave, how it does behave, and show performance numbers along with the historical information: this is not fresh in mind and will cause someone to have to do research. If you care about it, do it; otherwise, there are pressing

[2015-04-18 07:42] e2 commented on #563
@digitalextremist - I am researching. I started with asking experts first.

@digitalextremist, @tarcieri - issue #6 is now fixed with "short-circuited" sync calls to self: https://github.com/e2/celluloid/commit/06710a5

Here's how the example from issue #6 works on the 0.17.0 prerelease (without method checking):

[code]

Result: no longer silently fails - and no method/arity checking either.

@di

[2015-04-18 10:20] digitalextremist commented on #563
If we can construct tests around every facet of calls, every kind, every scenario, I can see even modifying that code or adding to the extras gem.

More feedback is needed on historical situations but again, if proven thoroughly without slowing a release to address this, if it's legit I support it.

[2015-04-18 10:21] digitalextremist commented on #563
I reopened this against 0.18.0 but it could be sooner or in a gem based on tests and feedback

[2015-04-18 11:33] e2 commented on #563
@digitalextremist - I don't know what your priorities are for releases (I can't deduce whether it's stability, features, cleanup, refactoring, etc.), but if this isn't considered for 0.17.0, you may want to consider reverting https://github.com/e2/celluloid/commit/06710a5 - since it's very related (although it may not seem that way).

These two commits are important for me, because they make debug

[2015-04-18 15:16] digitalextremist commented on #563
@e2 a 900+ word comment on a thread that we have begged you to lighten for a while, ahead of anything else, is the opposite of what the priority is for this or any release, or any team of collaborators. Then add to that your second "refusal" to do things, and there is a fundamental disconnect going on:

1. You were never asked to undertake the renovations / renaissance you keep mentioning.
2. You

[2015-04-18 15:17] digitalextremist commented on #563
Revisting in later release. No longer following this 'thread'

[2015-04-18 20:41] digitalextremist opened #590 "Stack Summaries ( no backtraces )"
Split `StackDump` into `Stack` and `Stack::Dump` then create a sibling `Stack::Summary` inheriting 95% of the same stuff, but no backtraces and with more compact output.

[2015-04-18 21:00] digitalextremist opened #591 "Write call retry tests."
- [ ] Create a test for the case of issuing a `Call` which will fail at first due to `TimeoutError` but then be retried and succeed.
- [ ] Create a test for the case of issuing a `Call` which will fail at first due to `TimeoutError` but then be retried and fail more than the number allowed, then raise `TimeoutError` for the caller.

( In certain cases, a supervisor must instantiate & link an actor

[2015-04-18 21:20] digitalextremist opened #592 "Since kill is gone ( except in MRI ) shutdowns raise NoMethodError"
https://travis-ci.org/celluloid/celluloid/jobs/59063051#L690
[code]

[2015-04-18 21:48] digitalextremist opened #593 "Extract celluloid-essentials."
Closes: #586

Seriously improves ability to work on and test the true `celluloid-core` elements, with all the supporting yet essential pieces extracted.

Pull out:

* `Internals::*`
* `Notifications`
* `Probe`
* `logging/*`

And include a hard-dependency on `celluloid-supervision` ( hence resolving #586 )

For the time being `-pool` and `-fsm` could probably be brought in here, until they must be

[2015-04-18 22:13] digitalextremist commented on #593
Added to @coveralls and got rid of that final error. Everything seems to be perfect.

[2015-04-18 22:14] digitalextremist commented on #593
Still fixing `celluloid` itself, and need to cut gem.

[2015-04-18 22:47] e2 commented on #592
I didn't get to finish this (default Reaper).

Basically, on JRuby and Rubinius there shouldn't be anything where the kill() is - if terminate didn't work, shutting down the group is the only option (anything else requires complex logic to detect whether the actor is being finalized, if it's running, if it can be queued for joining later, etc).

The join code OTOH should be something like this (in

[2015-04-19 04:40] digitalextremist commented on #593
Finally cut this, and got `celluloid` totally back together... after closing #586

[2015-04-19 04:40] #593 closed

[2015-04-19 04:43] digitalextremist commented on #586
Went the other way, but thank you -- extracted `Internals`, `Probe`, `Notifications`, and `logging/*` to `essentials` as well as requiring `-supervision` from there. It's a bit messy in the gemspec on each gem but overall it's fine for now.

[2015-04-19 04:43] #586 closed

[2015-04-19 09:54] #592 closed

[2015-04-20 05:13] perlun commented on #464
Nice! Thanks for your hard work.

[2015-04-20 08:12] digitalextremist commented on #590
Accessible by `Celluloid.stack_summary` as well as the old way, `Celluloid.stack_dump`

[2015-04-20 08:12] #590 closed

[2015-04-20 08:12] digitalextremist commented on #590
And this moved to `celluloid-essentials` as of #593

[2015-04-20 09:59] digitalextremist opened #597 "Reduce ActorSystem supervision to one actor."
Right now `#start` on `ActorSystem` uses multiple supervisors rather than one `SupervisionGroup`. And even with only two actors supervised, that's double the necessary supervisors. Add `Group::Manager` to that, and anything else we're wasting a lot of resources.

I'll expose a `SupervisionGroup` called `BaseServices` which can be extended if necessary.

[2015-04-20 10:12] #597 closed

[2015-04-20 10:34] digitalextremist commented on #588
Handled in ee37bf9994f04f2be7d96a1547de03783af250cf as repatch of #589

[2015-04-20 10:34] #588 closed

[2015-04-20 14:19] ioquatix commented on #563
I agree that debugging celluloid can be a royal pain in the ass, and if @e2 is proposing something to make that easier and simpler I think it should be considered seriously. `SyncCall` always seemed pretty odd to me personally.

[2015-04-20 14:49] e2 commented on #563
@ioquatix - unfortunately, the obstacles to "pleasant debugging" are: "it will break existing production apps" and "it will hurt performance". From what I've worked out, those are the top 2 non-negotiable priorities for Celluloid.

This issue is only 1 out of about 5 that would need to be solved first to move forward with a lot of "development" improvements (ones I'm just tired of manually merging

[2015-04-20 14:59] digitalextremist commented on #563
@e2 seems like you're talking out both sides of your mouth; though I've not been able to read your emails yet. Here, you continue to not understand that yes we *are* about TDD, and we are *not* about favoring 'veterans' we are just in the process of getting to `1.0` and your pace for communication and results is really too high, and when things happen that you don't absolutely love, you get irate

[2015-04-20 15:05] e2 commented on #563
@digitalextremist - it's about decisiveness and resolving issues quickly. I'd prefer a straight "no, we won't ever merge this because of X" or "fix this problem, and we'll merge it". Then I at least know how to plan the rest of the work and my time.

[2015-04-20 15:08] digitalextremist commented on #563
@e2 it's like you're reading an entirely different issue on GitHub. You got that basically right away.

Will not fix until '0.18.0` ... maybe `0.17.5` ... maybe re-read this thread some time.

[2015-04-20 15:39] e2 commented on #563
@digitalextremist - "0.18.0" is not a point in time, neither is 0.17.5. I can't plan based on those - such numbers are meaningless and have proven to be unreliable. "maybe" is not a decision. 0.18 may happen no sooner than 2 years from now - should I expect to wait that long with this? When is 0.17.5 planned?

[2015-04-20 15:46] digitalextremist commented on #563
Starting between 04/28 and 05/05, which you could have directly asked 10 days ago, and which I told you 3 days ago @e2. You make it sound like releases are going to take forever. It is not. This is part of the duplicity I mentioned above: I told you all this; you flip back and forth like it's the first time you heard, or you change tunes. Right now the only thing slowing down development is unnece

[2015-04-20 15:50] tarcieri commented on #563
@e2 there are already a huge number of (breaking) changes going into 0.17, and whenever this happens there is a long tail of people who emerge asking questions who will need help upgrading their programs.

I am asking you to just hold off nonchalantly making major semantic changes to the *highest churn part of the codebase* until we've released all of the other potentially breaking changes, especi

[2015-04-20 17:09] e2 commented on #563
@tarcieri - the conflict was in me seeing this as a prerequisite to other work in 0.17. So, "wait with this" seemed to conflict with "we need to get 0.17 out ASAP!".

@halorgium's commit (f2cf9e727c3079b6ff6789b194a9660bfcc8ca02) is not a revert of reintroducing the arity checking (which was introduced for #6), here's a line from the description:

This is why my previous syncproxy commit mentioned

[2015-04-20 17:17] digitalextremist commented on #563
Science: Too many variables in an experiment ( pre/release ) make figuring out what caused the result/symptom. Introducing so many breaking changes already, but not changing *that* -- at least if there are problems we know it's not *that* then like I said, an entire release can be dedicated to *that* -- easily. Because it's about getting people out there to test and report back what happened for t

[2015-04-20 17:29] tarcieri commented on #563
Fine, I give up, go ahead and change this. Just prepare for me to revert it the instant anyone complains. And please don't complain when that happens.

[2015-04-20 17:30] tarcieri commented on #563
Heads up @niamster, I guess you need to completely rethink the way DCell validates inputs, since Celluloid is no longer doing it for you.

[2015-04-20 17:34] e2 commented on #563
@digitalextremist -

`git bisect`. If this issue creates instability, it might mean a bug somewhere else in Celluloid - if that's the case, you'd want to investigate *before* the release, right? You don't want people in production environments finding the bug, right?

If this causes issues, it's best to understand them, right? Or at least is deserves a comment in the code "this causes X".

That's

[2015-04-20 17:36] digitalextremist commented on #563
@tarcieri, I complain.

@e2 Celluloid breaks with the patch, and I don't have time to figure out why right now.

[2015-04-20 17:37] e2 commented on #563
@tarcieri -

I have 0 issues with that.

Definitely won't - send people to me (mention me) if it's related. If it's the cause, I'll revert it myself.

@niamster - let me know if you have a use case affected by this. Don't hesitate to ask.

[2015-04-20 17:38] digitalextremist commented on #563
@e2 the reason why I said write repros is because there are *current* failures which simple test suites and the like don't show. I would *gladly* dedicate all my time to this issue after `0.17.0` ... or even once it's pre-released and we're waiting for feedback.

[2015-04-20 17:38] e2 commented on #563
@digitalextremist - Celluloid breaks with the patch, and I don't have time to figure out why right now.

That's the difference - I care if something intended for this release doesn't work perfect. Give me more info - do you have the other patch as well? (open an issue)

[2015-04-20 21:23] digitalextremist commented on #430
For posterity, I'll mention the cause and the workaround:

The `member.restart` call in `Supervision::Group#restart_actor` needed to be wrapped in `exclusive {}` otherwise `Member`'s assertion of `@actor = nil` zaps the entry in `@actors` ( and changing the entry in the registry is redundant, since the entry in in the registry *is* `@actor` ... but calling `member.restart` within an `exclusive` bl

[2015-04-20 23:02] ioquatix commented on #563
@e2 Good luck with merging this and it sounds like you've done a good job on the test coverage. Perhaps it could be good to write a brief page in the wiki explaining how things worked pre-merge and how things work post-merge and how to restore the default behaviour - it sounds like you said you could include a module and get the default behaviour - is this still the case? I will try to put aside s

[2015-04-21 03:15] tarcieri commented on #563
Just a note on this:

Naively deleting cruft is the right thing to do from a technical perspective, however, sometimes in cruft lies hard-won knowledge. I tried to put the onus on you to discover and understand why the cruft was there, but getting you to actually research that was like pulling teeth.

You and I are both aware the tests are/were in sorry shape, and that makes making major changes t

[2015-04-21 05:01] ioquatix commented on #563
@tarcieri I'm not sure if you mixed up what you wanted to say, but I'd like to respectfully suggest that no one should be naively removing or changing anything. Due diligence for all changes please. Getting feedback from people who wrote the code is awesome. Let's try to make celluloid even more awesome :)

[2015-04-21 05:03] digitalextremist commented on #563
@tarcieri is saying what you are saying, and that @e2 is bypassing that whether knowingly or unknowingly ( but saying otherwise? ) due to lack of historical context, knowing for *sure* what happened before, and what *will happen* ( proven knowledge ) in the future if `x` code is changed.

[2015-04-21 05:04] digitalextremist commented on #563
@tarcieri is saying what you are saying, and that @e2 is bypassing that whether knowingly or unknowingly ( but saying otherwise? thinking otherwise? ) due to lack of historical context, knowing for *sure* what happened before, and what *will happen* ( proven knowledge, thoroughly tested, discussed and clear facts gained from those who came before ) in the future if `x` code is changed.

[2015-04-21 05:05] digitalextremist commented on #563
@tarcieri is saying what you are saying, and that @e2 is bypassing that whether knowingly or unknowingly ( but saying otherwise? thinking otherwise? ) due to lack of historical context; nit knowing for sure what happened before, and what will happen ( based on proven knowledge, thoroughly tested, discussed and clear facts gained from those who came before ) in the future if x code is changed.

[2015-04-21 05:54] digitalextremist commented on #511
Now, we all know the benchmarks on CI are prone to outside fluctuation and mean basically nothing for performance testing, only emergency detection. But..

### `ruby-2.2.0`

Before major refactoring push:

[code]
Finished in **0.49479** seconds (files took 0.54699 seconds to load)

---

After major refactoring push:
[code]
Finished in **0.39854** seconds (files took 0.56842 seconds to load)

---

[2015-04-21 06:24] e2 commented on #563
@tarcieri - to me, if *you* can't give a straight technical answer, then no one has a clue why that code is there. I understand the need for "archeology" - but that's a bad "general answer".

I felt I was given such a "generic answer", which had nothing to with the "change". This change wasn't introduced with the same scrutiny I'm expected to deal with here. That's unfair to say the least.

On top

[2015-04-21 06:29] tarcieri commented on #563
I gave a rationale for why it's there (which you didn't like, but that's beside the point). But even if nobody could, that doesn't just give you carte blanche to change it, especially since it is, as I have repeatedly insisted, the highest churn code in the entire library. That should be a signal to you to tread carefully, and I don't feel you've done that. I'm a bit worried that when 0.17.0 does

[2015-04-21 06:32] e2 commented on #563
@ioquatix - I actually planned to write a Wiki page on the possible changes in behavior (in how calls are scheduled differently and ideas on how to design the app differently). But that doesn't make sense, since I have no merged commits to point to right now.

[2015-04-21 06:42] digitalextremist commented on #563
@e2 make your experimental branch and let people try that. I'll make `0.17.5-experimental` for you to send PRs to, like we talked about.

As it stands, `0.17.0` is such a breaking release we're going to need to leave it in `prerelease` for a while, and start `0.17.5` without `0.17.0` even merged into master. That I am sure of.

I don't know if you remember @e, when @tarcieri talked about approachi

[2015-04-21 07:11] e2 commented on #563
@tarcieri -

And I explained there's a different solution for that (e.g. via a "proxy actor") and I created 2 actor specs to demonstrate (those 2 examples were merged).

which suggests that area needs lots of rework - I can't think of a saner solution.

In all honestly, I have no idea what I could've done specifically to please you here.

The only 2 behavior changes I've made in 'lib' are well kno

[2015-04-21 07:16] tarcieri commented on #563
You could've actually looked into the history of the code in question the first time I asked, instead of precipitating this long, drawn-out argument.

[2015-04-21 07:22] tarcieri commented on #563
Per @digitalextremist your changes are breaking things, so this issue isn't closed yet.

[2015-04-21 07:24] e2 commented on #563
@tarcieri - you had me convinced the code was important for something, and I couldn't find out how/what. The history doesn't say why the method and arity checking is important. It just doesn't.

Ironically, my mistake all along was assuming the code *was* crucial.

As for this patch - it has been reverted (so it's not in 0.17). So this is closed - I asked @digitalextremist above to open a new issu

[2015-04-21 07:28] tarcieri commented on #563
@e2 have you read anything I've said this entire thread, or do you just like hearing yourself talk?

[2015-04-21 07:29] tarcieri commented on #563
@e2 honestly, in my two decades of experience in open source, this is the most dysfunctional encounter I've ever had with anyone, period.

[2015-04-21 07:38] e2 commented on #563
@tarcieri - sorry about that. I'll work it out.

@digitalextremist - this issue is on you, since you're the only one with an (technically unclear) objection. Prepare a branch with the unreverted patch (and the other syncproxy commit above), and let's work out what's preventing you from putting this into a release.

[2015-04-21 07:40] tarcieri commented on #563
Cool! :smile:

[2015-04-21 07:43] digitalextremist commented on #579
@e2 add #563 to this and use [0.17.5-experimental](/celluloid/celluloid/tree/0.17.5-experimental)

... which I know is broken right now, but it's failing on two tests that ought to be clear in the next hour or two, and I'll pull an all-green prerelease into this beardwilling. Man I miss Cellubeard.

[2015-04-21 08:02] digitalextremist opened #598 "$CELLULOID_BACKPORTED == true until `0.18.0` or later"
Whether this be set by ENV variable, or hard-coded as a global as we have several of, we now need `$CELLULOID_BACKPORTED` especially for `supervision` behavior. I'm feeling like this related to `CELLULOID_LEGACY` but I'm not messing with that right now.

It's used places like this:

[code]

There are `-depreciated` runnable examples, and I'm trying to update all the examples that break without ` $

[2015-04-21 09:21] digitalextremist opened #600 "Bring code up to date ourselves."
As more code goes into various `/depreciated.rb` files throughout the various gems, more and more code will need to be possibly refactored. But it's not an emergency, because everything ought to work fine in `backported` mode. It's not only people depending on `celluloid` who need to refactor certain sections of code. We do too. Until `0.18.0` ( two more versions from now ) we will be adapting to

[2015-04-21 09:28] digitalextremist commented on #563
See: #579 for experimentation for the time being.

[2015-04-21 09:49] e2 commented on #579
Just for reference: https://github.com/celluloid/celluloid/pull/599

[2015-04-21 09:50] e2 commented on #579
`:+1` for locking the thread, btw

[2015-04-21 22:10] DaveCollinsJr opened #601 "Why might Actors fail to link?"
Hello,
  Working with sidekiq-pro on AWS EB instances.  Basically everything is running fine, but sometimes one or more of our instances will fail to run sidekiq for more than 30 seconds.  Looking into the logs on that machine, and we see this in the log:

[code]

Mike Perham of sidekiq fame indicated he had "literally never seen this error before" and asked that I post it here.

Versions we are r

[2015-04-22 10:12] digitalextremist commented on #601
This is a problem which is happening more frequently. I will watch this and try to get it into `0.17.0`

[2015-04-22 15:55] mperham commented on #601
I believe it might be due to Sidetiq taking a lot of time to initialize.  @DaveCollinsJr is it possible that you have a pretty big Sidetiq job schedule?  Are you using the latest Sidetiq?

[2015-04-22 15:59] mperham commented on #601
I'd point you to these two issues, it's very easy to define your job schedules such that ice_cube uses a huge amount of CPU, making startup extremely slow:

https://github.com/tobiassvn/sidetiq/issues/127
https://github.com/tobiassvn/sidetiq/issues/31

[2015-04-22 16:19] digitalextremist commented on #601
@mperham can Sidekiq be refactored in a way where very little happens in `initialize` *ever*? I can look at this if you like.

[2015-04-22 16:24] mperham commented on #601
I'm referring to sidetiq, not Sidekiq.

[2015-04-22 17:27] DaveCollinsJr commented on #601
Thanks for the responses.  To answer some of the posed questions:
1) Not sure what you mean by "pretty big" regarding our job schedule.  We have 21 workers that use a recurrence setting.  *How long is a piece of string?*
2) Yes we are using the current sidetiq 0.6.3

Of our 21 workers using recurrence **two** of them were using the dreaded "minutely" settting.  I am changing those two to use hourl

[2015-04-22 23:31] stavro opened #603 "Celluloid::Future explicit signalling issue"
I'm having troubles with the usage of `Celluloid::Future` to allow awaiting on the result of a Celluloid workload.

Psudocode:

[code]

A workaround:

[code]

What am I doing wrong?  *Must* futures be invoked as a method enhancement (`actor.future.method_name`) or with a block (`Celluloid::Future.new { do_work }`)? Or should they be able to be used explicitly as indicated above?

[2015-04-22 23:49] digitalextremist commented on #603
@stavro are you trying to *signal* the `Future` above? Maybe describe what you expect?

[2015-04-23 00:02] stavro commented on #603
I would expect calling `.value` on a `Celluloid::Future` to either block the calling thread or return the final value immediately .. instead I see a `NoMethodError`

[2015-04-23 00:04] digitalextremist commented on #603
Well yeah, `value` is being called on `1234` ... that's a `NoMethodError` caused at `Result#value` not `Future#value`

[2015-04-23 00:05] tarcieri commented on #603
You shouldn't use `Celluloid::Future` like that directly. You either need to give it a block, or call the `#future` method on an actor proxy

[2015-04-23 00:05] digitalextremist commented on #603
https://github.com/celluloid/celluloid/blob/master/lib/celluloid/future.rb#L102
https://github.com/celluloid/celluloid/blob/master/lib/celluloid/future.rb#L137

[2015-04-23 00:15] digitalextremist commented on #603
Please let us know if you have any problems. So far `celluloid` is behaving properly and you're getting `NoMethodError` from `Celluloid::Future::Result` as designed.

[2015-04-23 00:15] #603 closed

[2015-04-23 22:39] DaveCollinsJr commented on #601
Just wanted to update this!

After modifying the two workers that used "minutely", this problem has been eliminated!

Really appreciate the help.

[2015-04-23 22:39] #601 closed

[2015-04-26 11:33] Burgestrand opened #604 "Execute block on receiver together with exclusive mode"
Executing the block on the receiver is essentially passing the block as-is without wrapping it in Celluloidy magic to pass execution back and forth. I was expecting to be able to pass a block to a method and execute it on the receiver during exclusive mode, but I was not.

[code]

I understand executing blocks during exclusive mode could cause deadlock issues, but that is true for anything perform

[2015-04-27 03:46] digitalextremist commented on #604
'Tis the season to refactor `calls.rb` it seems.

@Burgestrand so you are questioning why execute-on-receiver is not allowed in exclusive mode for blocks, because other operations ought to be able to deadlock just as easily?

I've marked this as `reassess` and we can look at it. Your point is valid -- preventing `blocks` from executing on receiver might bring a false sense of security, since other

[2015-04-27 04:36] tarcieri commented on #604
AFAIK, this functionality was simply never implemented...

[2015-04-27 04:38] digitalextremist commented on #604
In the above example, if the `raise` is commented out in `calls.rb` the repro outputs 'OK' though I don't know if the behavior is as expected.

[2015-04-27 05:03] Burgestrand commented on #604
I would assume that execution on receiver was simply not considered when implementing this safeguard. The safeguard makes sense when the block is executed on the sender.

I'll take a quick peek through history, but if I were to patch it and send a pull request are there any special considerations to take, considering the current movement in the code base @digitalextremist?

[2015-04-27 05:07] digitalextremist commented on #604
Patch and send a PR against the `0.17.0-prerelease` branch @Burgestrand, and the files and such will be current. I've looked at this some, and I will wait to hear back from you on how your research goes.

[2015-04-27 06:30] Burgestrand commented on #604
I've dug around the history, and I haven't found any explicit references to executing blocks in the receiver during exclusive mode.

Pre 0.13 all blocks were executed on the receiver, and #55 was created to start efforts of executing blocks on the sender. 44f9724c8d6c383e84a49fb5e56d96349302e4a5 was the fix with the only test for this behavior being the example provided in the original issue, and

[2015-04-27 13:02] digitalextremist commented on #463
Unless this is magically solved now/today, I'm moving this to `0.17.5`

[2015-04-27 13:16] digitalextremist commented on #598
The suggested behavior to use the current behavior of `Celluloid` will be `require 'celluloid/current`

Closing this to clear the way for finishing up `0.17.0` without clutter.

[2015-04-27 13:16] #598 closed

[2015-04-27 13:17] digitalextremist commented on #591
Adding this behavior will come in the next release.

[2015-04-27 22:43] Burgestrand commented on #604
I've managed some specs (see [elabs/celluloid@0.17-prerelease_allow-receiver-blocks-in-exclusive-mode](https://github.com/elabs/celluloid/tree/0.17-prerelease_allow-receiver-blocks-in-exclusive-mode)) for the current behavior, but I did not create enough time to start on the implementation today.

[2015-04-27 22:46] digitalextremist commented on #604
@Burgestrand very good, thanks for the update. I will check the tests once I clean up `0.17.0` hopefully over the next few hours.

[2015-04-27 23:09] tarcieri commented on #604
@Burgestrand I think it should be safe, if you have `execute_block_on_receiver`, to simply call a block in exclusive mode as you suggest. I guess the only thing that confuses me is, if it's really that simple, why @halorgium didn't implement that functionality ;)

The default behavior (execute blocks on caller) is intended to prevent mutable data from being shared across threads in the form of clo

[2015-04-27 23:14] openface commented on #557
I need the ability to do a "friendly termination", where sending a QUIT signal to my application causes all of the running actors to wait and shutdown.   What issue should I be participating/watching for that feature?   Thanks.

[2015-04-27 23:15] digitalextremist commented on #604
@tarcieri AFAIK the Cellubeard traveled from the Sun to 5 feet from Earth on several issues, and for some reason he felt the quality wasn't there to go the remaining 5 feet, or I guess 1.524 meters. I don't know that this issue is an example of that, lately I've spent a lot of time puzzling over what exactly was left to do since it "sure had to be a lot more work" if he didn't finish it, but alas

[2015-04-27 23:17] digitalextremist commented on #557
We'll find the code that allowed clean shutdown ( it was refactored out somewhere ) and get it back in by `0.17.5` ( we're pushing the release before that right now ) -- shouldn't be too long.

[2015-04-27 23:23] tarcieri commented on #604
I think Tim still likes me enough I can probably ween some opinions out of him if need be :wink:

[2015-04-27 23:24] tarcieri commented on #557
I feel like Java's ThreadPoolExecutors are a good place to look for this. Specifically they support the sort of mechanisms @e2 has been describing: a way to drain the pool of work and wait (with a prescribed timeout) for that to happen (or timeout)

[2015-04-28 01:41] digitalextremist commented on #511
Not finding anything really glaring on the level of needing to "remove instance methods" at the moment, other than the methods that preload `Supervision::Containers` with blocks to run at start of the supervisor ( previously `SupervisionGroup` )

[2015-04-28 01:41] digitalextremist commented on #511
Or else, what I've refactored it to be seems to be safe so far.

[2015-04-28 03:01] digitalextremist commented on #509
Congratulations to @dilumnavanjana on being accepted into `GSoC` in the first `Ruby` organization since 2009, to come work on this issue. I've invited you into the `v1-taskforce` to come accept this assignment officially.

[2015-04-28 05:33] e2 commented on #557
@openface - you can simply set `Celluloid.shutdown_timeout=1_000_000`, and call `Celluloid.shutdown` in your `QUIT` signal trap.

Of course this will prevent your app from exiting if an actor is stuck waiting forever on something - so it's up to you to put custom timeouts in such places.

There are ways to "try to detect" if an actor is sleeping or waiting - but this gets complex fast. It's best t

[2015-04-28 06:59] dilumnavanjana commented on #509
Thanks @digitalextremist for your support last few weeks, got the `v1-taskforce` invite.

@e2 Are you suggesting a separate watchdog thread to keep eye on `sleep`, `wait`, `terminate`?

[2015-04-28 07:08] digitalextremist commented on #509
You are very welcome @dilumnavanjana, I think you will do very well.

Check out `Celluloid::Group::Manager` starting to be developed.

[2015-04-28 07:47] e2 commented on #509
Needs a specific use case. It's best to start with a spec illustrating the problem.

[2015-04-28 16:31] openface commented on #557
Thanks @e2, that's precisely what I'm hoping to do- however I'm not able to make this work, and I'm not sure if the problem is in Celluloid, or in my code.

My unicorn worker has this signal handler:
[code]

To test this behavior, I have an actor sleeping for 60 seconds.   When I send a QUIT signal to the application, I get:

[code]

The application immediately exits, and the actor never completes

[2015-04-28 17:40] e2 commented on #557
@openface - if you really want an actor to sleep (for testing), make sure you're using `Kernel.sleep` to avoid using Celluloid's overriding `sleep` method. Or, you can use a busy loop for testing.

If you're still having problems, you can setup a repo with the problem.

Details (if you're interested):

In your example calling `sleep` just suspended the actor (preventing it from being blocked) and

[2015-04-30 07:51] Burgestrand commented on #604
I made some progress on the implementation today. Here's the current comparison, rebased on the latest 0.17.0-prerelease: https://github.com/celluloid/celluloid/compare/0.17.0-prerelease...elabs:0.17-prerelease_allow-receiver-blocks-in-exclusive-mode

I'll make an attempt to remove the ugliness regarding AbortError in `check`, and hopefully I'll be able to figure out why the test for executing blo

[2015-04-30 08:03] digitalextremist commented on #604
@Burgestrand nice followthrough so far. Sorry about the test noise, I'm part-way through celluloid/culture#13 then finishing the fixes and clearing up the tests.

Try `export CELLULOID_BACKPORTED=false` before running `rspec` at all?

[2015-04-30 14:11] openface commented on #557
Thanks again @e2.  I can see the actors do complete when I call `exec('sleep 30')`, but not with `sleep` or `Kernel.sleep`.

However, I think I am not clearly explaining my intent- which is more related to how to tell Celluloid to wait for unprocessed/queued actors in the pool.  It looks like a call to `Celluloid.shutdown` will tell any not-yet-run actors to never run.

[2015-04-30 16:05] e2 commented on #557
@openface - I think the only way is to hack/monkey-patch Celluloid so it doesn't call shutdown (or delay it until your actors are finished).

I'd say this is currently the *recommended* solution at this moment. (The current shutdown sequence is pretty "brutal" - and that won't change soon). The shutdown logic isn't that complex really - so don't feel intimidated.

What you want to do is wait until

[2015-05-03 21:56] niamster opened #610 "last stable release in v0.16?"
I propose to have a stable release in 0.16 branch. That is to have external gems to depend on precise version rather than follow master all the time if they want some features and happy with _current_ master.

[2015-05-03 22:01] tarcieri commented on #610
Myself or @digitalextremist can do a release of the https://github.com/celluloid/celluloid/tree/0-16-stable branch as soon as all relevant commits have been cherry-picked onto it. Are there things you want in another 0.16 release that aren't presently on the https://github.com/celluloid/celluloid/tree/0-16-stable branch?

[2015-05-03 22:03] niamster commented on #610
I don't have anything in mind. I just want to have a stable release of dcell before it moves to 0.17.

[2015-05-03 22:06] tarcieri commented on #610
I propose we release `0-16-stable` as 0.16.1.pre then and request that Sidekiq users test it.

[2015-05-03 22:10] mperham commented on #610
@tarcieri As long as you start with Square.  :-P

[2015-05-03 22:17] tarcieri commented on #610
:smile: I can try eating our own dogfood there first

[2015-05-04 02:44] digitalextremist commented on #610
Would it be OK with the world if we did this *after* getting `0.17.0` to prerelease? With that, there's the hardening of `0.17.0` itself, but also the `backported` version of that prerelease. Doing a `0.16.0` stable will effectively be 3 releases. I'm good with this, but it'd be nice if we cherry picked once the next release is able ready, rather than adding another step *before* `0.17.0` is ready

[2015-05-04 04:07] digitalextremist commented on #538
This was done, and all the remaining issues will need to be gone though one by one and either used as a prompting to change the rules, or handled in `0.17.5` item-by-item changes posted as their own issues and labeled `style` if they are not just obvious fixes.

[2015-05-04 04:07] #538 closed

[2015-05-04 04:11] digitalextremist commented on #511
This is substantially finished, with the remaining afterthoughts lingering, possibly not happening this release, so this ticket will be closed and anything remaining will be continued in the appropriate gem.

[2015-05-04 04:11] #511 closed

[2015-05-04 05:15] niamster commented on #610
I don't mind if it be out after 0.16.

[2015-05-04 05:22] digitalextremist commented on #610
You mean `0.17.0` right?

I am asking that we do this:

1. `0.17.0.rc1` ( no backport mode )
2. `0.17.0.rc2` ( with backport mode )
3. `0.16.1.pre1` ( as requested here )
4. `0.17.0` ( final )
5. `0.16.1` ( final )

[2015-05-04 10:43] niamster commented on #610
@digitalextremist yes, I meant `0.17`.

[2015-05-04 16:00] tarcieri commented on #610
Seems ok

[2015-05-05 12:20] e2 opened #612 "add fork() fix to 0.18.0 ( scrapped from 0.16.1 )"
@digitalextremist - could you release 0.16.1 with #513 ? Basically Celluloid terminates with an error without it, and it's already causing problems with multiple gems using fork().

[2015-05-05 22:18] stavro opened #613 "Celluloid::DeadTaskError from within Postgres transaction"
Setup:
  * Ruby 2.1.2
  * Celluloid 0.16
  * Pg 0.17.1

I cannot make a synchronous call to another actor from within a pg transaction block.

Minimally complete example:

[code]

[2015-05-05 22:23] tarcieri commented on #613
Regardless of what's actually happening, this seems like a bad idea to me in general

[2015-05-05 22:29] stavro commented on #613
I was attempting to utilize a cursor to iterate through a large query (cursors must be executed from within a transaction) and pass the processing off to another worker.

A periodic synchronous call was issued for backpressure to prevent the queue from being completely overwhelmed.

[2015-05-05 22:33] stavro commented on #613
I can fix this on my end now that I know the root cause, but I wanted to share the problem in case the Celluloid gem wants to investigate.

[2015-05-06 09:48] e2 commented on #612
NOTE1: This patch is not on 0-16-stable (it's been reverted)
NOTE2: this patch should be applied to the Spawner as well

[2015-05-06 10:05] digitalextremist commented on #612
Where was it reverted?

[2015-05-06 10:13] e2 commented on #612
Here: https://github.com/celluloid/celluloid/commit/6226a68cd6adf63440c70bcb7a1d7ed68f85ce87

(The revert was merged, not the patch).

[2015-05-06 10:22] digitalextremist commented on #612
Alright, I see this and don't see a problem putting the patch into `0.16.1`

[2015-05-06 17:56] digitalextremist opened #614 "Backport 0.17.0"
Trying to get all the backporting done for `0.17.0` has been too much work to do *and* get the release itself to be solid, with the time I have. And changes could be made while `0.17.0` is being tested, causing backporting to need to be refactored. That would cause at lot of duplicated work.

I'd like to hold on backporting until `0.17.5`. There will be no `0.17.0-stable` branch, but after `0.17.5

[2015-05-07 08:50] ZipoKing opened #615 "Deadlock in version 0.16.0"
Last time mine Sidekiq client instace hangs - it is showing that all workers are busy but actually they are not doing nothing. I've send SIGSEGV signal to Sidekiq process so in result I've got full bactrace of hanged code and it looks that it is fully related to Celluloid. Looks like some kind of deadlock.
Ruby version: 2.2.0
Rails version: 4.1.10
Sidekiq version: 3.3.4
[code]

[2015-05-08 17:42] digitalextremist commented on #614
Nevermind. I just did it all.

[2015-05-08 17:42] #614 closed

[2015-05-08 20:30] digitalextremist commented on #563
This forever moved to abstractive/celluloid-experimental#1, and once proven can be merged into `celluloid/current`

[2015-05-08 20:30] #563 closed

[2015-05-08 20:33] digitalextremist commented on #579
This forever moved to abstractive/celluloid-experimental#2, and once proven each piece can be merged into `celluloid/current`

[2015-05-08 20:33] #579 closed

[2015-05-08 20:35] digitalextremist commented on #562
Mostly done, tracked at own gem.

[2015-05-08 20:35] #562 closed

[2015-05-08 20:36] digitalextremist commented on #615
How often do you get this result?

[2015-05-08 20:45] ZipoKing commented on #615
Last time it is something twice a week and always around midninght GMT. If it will help, I'm using Redis via Amazon ElasticCache service and everything hangs always around midnight GMT (and everything is runnig on Amazon Linux EC2 instance in US East region)

[2015-05-08 21:16] digitalextremist commented on #615
I'd wait and/or try `0.17.0` which no longer used `InternalPool`

[2015-05-08 21:53] ZipoKing commented on #615
Will wait for 0.17.0 then. Are there any bigger outstanding issues with pre-releases or can I use them in production env?

[2015-05-08 22:00] digitalextremist commented on #615
Feel free to try using `0.17.0` straight off of `GitHub` using this, and let me know how it goes:

[code]

[2015-05-08 22:01] digitalextremist commented on #615
Remember, if you use `Celluloid::IO` also, use this too:

[code]

[2015-05-09 09:31] ZipoKing commented on #615
I've switched to 0.17.0-prerelase and will be monitoring it.
Also, Rails app shows warning during startup:
[code]

[2015-05-10 05:10] digitalextremist commented on #615
Thanks for that warning report @ZipoKing. I've removed the reference in `celluloid/deprecate` in favor of the one in `celluloid/essentials`

[2015-05-10 05:11] digitalextremist commented on #615
Please do let me know if `0.17.0` makes a difference, using `Group::Spawner` rather than `InternalPool` now.

[2015-05-11 19:16] digitalextremist opened #617 "Thread leak. Count climbs to tens of thousands."
Getting reports of claims that 20,000 thread counts can accrue over time, with `0.17.0`.

If this is true, it is likely a `Group::Spawner` bug. Will try to reproduce and resolve.

[2015-05-12 04:27] digitalextremist commented on #617
This is in fact being reproduced in one case where the thread count increases by one, every second. Will determine why, and patch.

[2015-05-12 04:39] digitalextremist commented on #615
Not sure where that's being required, but the file moved to `celluloid/internals/logger.rb`

I will add a temporary file to be deprecated later which requires the correct file.

[2015-05-12 04:41] digitalextremist commented on #615
Added. Bring in the new commits on `celluloid-essentials`

[2015-05-12 05:03] aronchick opened #618 "Workarounds for Http Timeouts?"
Given that timeouts are not working, and 30 seconds is too long for my current solution, is there a workaround for timing out an HTTP connection?

Alternatively, what's a way to quickly (<5 second) determine if a server is up or not?

[2015-05-12 05:08] tarcieri commented on #618
Please have a look at `http.rb`:

https://github.com/httprb/http.rb

It has an abstract timeout system that's partly Celluloid::IO compatible, however more work is needed. It's your best bet at this point.

[2015-05-12 05:08] #618 closed

[2015-05-12 07:57] ZipoKing commented on #615
OK, after I've added celluloid-essentials to Gemfile it started working again.

[2015-05-12 08:11] digitalextremist commented on #615
As long as you `bundle update` you can likely avoid listing `celluloid-essentials` a la carte. I've updated that github repository referenced by `Celluloid` already. Let me know what else you run into.

[2015-05-12 09:13] ZipoKing opened #619 "Cannot launch Guard with 0.17.0pre version"
Cannot launch tests with Guard, but when launching them with rspec command then everything works OK.
All celluloid-related gems (-essentials, -extras, -fsm, -pool, -supervision) are taken from Github
Backtrace:
[code]

[2015-05-12 09:24] ZipoKing commented on #615
Everything works fine now, except one issue with guard (but created separated issue for that).

[2015-05-12 21:40] matt-altiscale opened #620 "Prerelease versioning scheme violates semantic versioning and breaks gem dependencies"
https://github.com/celluloid/celluloid-io/issues/144

[2015-05-13 00:13] tarcieri commented on #620
Celluloid is using prerelease versioning conventions recommended by RubyGems:

http://guides.rubygems.org/patterns/#prerelease-gems

It seems your problem arises from the way you're doing version locking.

I'm closing this issue, but I'll leave https://github.com/celluloid/celluloid-io/issues/144 open for discussion for now.

[2015-05-13 00:13] #620 closed

[2015-05-13 09:05] digitalextremist commented on #617
@niamster you will see in a second that this is actually a bug in `Task::Fibered` caused by our quest to find the memory leak. I wonder why this occurs?

[2015-05-13 14:09] aronchick opened #621 "Celluloid DNS Issue?"
I'm posting this here from the http.rb issues because the thought is it might be a celluloid problem. Hope you can help!

-------------

I'm doing a simple get is my code which uses the internal DNS server for my system - it looks like this ('client' is a named endpoint behind a load balancer):

[code]

When I execute this, I get "no such domain" for the first one. However, it definitely exists in

[2015-05-13 14:16] digitalextremist commented on #621
@aronchick, this is posted in `Celluloid` but it's referencing `Celluloid::IO` and possibly `Celluloid::DNS` ( except it's not using either, because it's using the local resolver and not primed to use the `Celluloid::IO` backend behavior ). There is no data to reproduce the issue, nothing in `Celluloid` involved... and @tarcieri is already answering you on httprb/http.rb#226

[2015-05-13 14:16] #621 closed

[2015-05-13 14:45] tarcieri commented on #621
Per my comments on https://github.com/httprb/http.rb/issues/226 this has nothing to do with Celluloid, Celluloid::IO, etc. It's an issue with the native DNS resolution support of whatever Ruby VM you're using.

[2015-05-15 23:19] ptqa opened #622 "Perfomance issue with pool"
Hi there!

I'm trying to use celluloid with rabbitmq (bunny gem) and have a performance issue. My class is pretty basic:
[code]
And when I run something like
[code]

I get ~2.5k messages per sec in rabbitmq. But when I try to use library pool:
[code]

I get 5-10 messages per sec. So it's 200x times worse. I'm using rubinius but I also tried JRuby and it's the same. Am I missing something?

My envi

[2015-05-16 05:27] digitalextremist commented on #622
Let's work on this over at [`celluloid-pool`](/celluloid/celluloid-pool/issues/), the new gem which pools are provided by. Are you using `0.17.0` and the new pool code? Please move this over there and let's work on it.

[2015-05-16 09:31] ptqa commented on #622
Ok, I'll try new gem and create new issue there if problem still appears.

[2015-05-16 09:31] #622 closed

[2015-05-16 09:44] digitalextremist commented on #622
Sounds good.

[2015-05-19 15:15] digitalextremist opened #623 "Thorough Code Review for 0.17.0"
To orient yourself to `Celluloid` before the official start of `GSoC`, thoroughly review the `0.17.0-prerelease` branch. Post any observations you have here, or things you see need to be changed, as well as commenting on the specific commits line-by-line on this PR: #547

[2015-05-19 15:18] digitalextremist opened #624 "Produce deadlocks various ways."
- [x] Research various ways to create deadlocks and share those here.
- [x] Produce examples for each way to create a deadlock.
- [x] Create test specs with those examples.
- [x] Let the test specs fail, until #509 is working ( which is how you will know )

[2015-05-20 07:12] #617 closed

[2015-05-21 08:18] ZipoKing commented on #615
@digitalextremist After 2 weeks with work on 0.17.0 I can confirm that issue has been fixed, so closing that

[2015-05-21 08:18] #615 closed

[2015-05-21 10:40] digitalextremist commented on #615
@ZipoKing awesome!!

[2015-05-24 19:59] emcgee opened #625 "Segmentation fault with 0.15.2 on MRI 2.2.2"
We've recently been using adhearsion 2.6.0 (https://github.com/adhearsion/adhearsion/commit/6b51039cc299c9a85064fb77bf6ef84331a4e29a, https://github.com/adhearsion/punchblock/commit/3a575bfab3bf224617c8eb6604240358a966d96e)  with MRI 2.2.2p95 and have generated a series of segfaults that seem to originate in Celluloid.

https://gist.github.com/emcgee/9fee7ca88eea2435c388

They are somewhat sporadi

[2015-05-25 00:12] tarcieri commented on #625
Celluloid is pure Ruby. By the contract the Ruby memory model is
theoretically supposed to provide, segfaults can't "originate" in Celluloid.

And confirm, the version you're using is old. Our efforts are mostly
focused on 0.17 at this point. It would be nice if Adhearsion could upgrade!

On Sunday, May 24, 2015, Evan McGee <notifications@github.com> wrote:

--
Tony Arcieri

[2015-05-25 13:33] dilumnavanjana commented on #624
Able to create 3 deadlocks,
1 - From `Mutex.lock`
2 - From `Mutex.synchronize`
3 - From Celluloid `exclusive`

Here are the results for various rvm versions,

For `Mutex.lock` & `Mutex.synchronize`  on `ruby-2.1.1` gives an error message
`ERROR -- : Actor crashed! ThreadError: deadlock; recursive locking`

For `Mutex.lock`  & `Mutex.synchronize` on `jruby-1.7.19` doesn't give any error message, th

[2015-05-25 13:59] digitalextremist commented on #624
Excellent! I was hoping for silent deadlocks most of all. Can you also research i/o related deadlocks? I'll look into what you have so far while you do that.

[2015-05-26 14:42] ZipoKing commented on #619
@digitalextremist Is there any docs which may help with migrating other gems to 0.17.0 - I think that the problem is within listen gem which is not maintained now and I think that if I'll get some note about changes then I'll be able to make this fix by myself.

[2015-05-26 15:09] digitalextremist commented on #619
@ZipoKing, `0.17.0` needs to be formally cut ( again ) and pushed to RubyGems ( again ) once feedback trickles in on the `github:` binding in `Gemfile` ... for that, you need `submodues: true` added, and to use the `0.17.0-prerelease` branch as I believe we talked about before.

With that done, as I see you did, this is the offender:

https://github.com/guard/listen/blob/v2.9.0/lib/listen/listener

[2015-05-26 15:26] e2 commented on #619
@ZipoKing - listen gem is still actively maintained (unofficially), though it isn't under active development

@digitalextremist - PRs are welcome (let me know if any Listen internals are causing trouble)

[2015-05-26 15:39] digitalextremist commented on #619
@e2 sounds good, when I get a chance I'll submit a patch to be contingent on `0.17.0`

@ZipoKing I will keep this open until this specific issue is fixed at `listen`. Thank you for submitting this API compatibility issue caught in the wild.

[2015-05-26 18:12] ZipoKing commented on #619
@digitalextremist @e2 Thanks lads!

[2015-05-29 10:58] dm1try commented on #615
Hi there,
I have a similar(?) problem.
Celluloid version:    0.16/0.17.0.pre15

[code]
then some jobs failed and future jobs have been started but not performed
[code]
kill -TTIN $sidekiq
[code]

[2015-05-30 05:31] evanbattaglia opened #626 "Tutorial linked to on wiki is semantically out-of-date and only serves to confuse, should be removed."
As someone trying to understand how to use Celluloid and how it is useful I went to the tutorial "Introducing Celluloid: a concurrent object framework for Ruby". There is a warning that it is syntactically out of date. Unfortunately, it appears to also be semantically out of date. It states:

`Since actors can only process one method call at a time, the call to Mapper#value will block until Mapper

[2015-05-30 10:44] digitalextremist commented on #626
You are right that the documentation is profoundly dated. A lot more than you said. The point of actors is plain once the correct behaviors of the current code is laid out. Now that we're at a release point, the documentation is ready to not only be updated but pieced apart to various gems various functionality was moved to. Sorry for the confusion, feel free to continue this as a Google Groups di

[2015-05-30 10:44] #626 closed

[2015-05-30 10:50] digitalextremist commented on #615
@dm1try what leads you to believe this is a similar problem? And why do you say 0.16/0.17 ... those two are vastly different at this point. Which are you using?

[2015-05-30 11:57] dm1try commented on #615
I used 0.16 before I tried 0.17.
Sometimes my workers were busy but actually they was doing nothing.
`sidekiq 3.3.4 [25 of 25]`
I used
`kill -TTIN $sidekiq`
all workers(threads) were "blocked" on this line:
`/opt/ruby-2.2.0/lib/ruby/gems/2.2.0/gems/celluloid-0.16.0/lib/celluloid/mailbox.rb:62`
then I found this issue.

Now I am using 0.17, and sometimes the problem appears(two times for the last w

[2015-05-30 12:13] digitalextremist commented on #615
Thanks for the clarification. So far we've been seeing a need for patches to sidekiq and quard/listen, so I'll open a ticket focusing on that. I appreciate any further feedback you will provide as you see how things go with `0.17.0`

[2015-05-30 12:17] digitalextremist opened #627 "Proactively patch common dependent libraries."
Per #615 and #619 for example, common libraries depending on `celluloid`, such as `sidekiq` and `guard/listen` need patches provided to their maintainers.

This is largely to proactively encourage refactoring against the new syntax and demonstrate it in the wild, but also to support our largest dependents.

So far that list seems to be:
- [ ] `sidekiq`
- [ ] `guard/listen`

What else?

[2015-05-30 13:24] dm1try commented on #615
@digitalextremist sure. Thanks for looking into this!

[2015-06-01 06:17] dilumnavanjana commented on #624
I created an I/O related deadlock by `File LOCK_EX`

It doesn't give any error message for `ruby` , `jruby` & `rbx`. Seems it's a good sample for our testing.

[2015-06-01 07:53] digitalextremist commented on #624
Excellent. I'm going to create a `GSoC` branch for you to submit your test suite and examples to, using the existing conventions and file locations.

[2015-06-01 07:54] digitalextremist commented on #624
Here's that branch: https://github.com/celluloid/celluloid/tree/GSoC/2015

[2015-06-02 08:42] dilumnavanjana commented on #624
spec fails as expected,

With `ruby` there is only one failure (I/O related deadlock `File LOCK_EX`)
With 'jruby` & `rbx` all the specs fail.

[2015-06-03 15:42] digitalextremist commented on #624
@dilumnavanjana seems like some changes to the branch crept in. When did you pull in the `GSoC/2015` branch?

[2015-06-03 15:48] digitalextremist commented on #624
Made comments on your PR //

[2015-06-03 16:30] dilumnavanjana commented on #624
Shall I recreate the branch from `0.17.0-prerelease` & add the spec files?

[2015-06-03 16:49] digitalextremist commented on #624
You can branch from `GSoC/2015` ... that is a branch off of `0.17.0-prerelease` ... which did you base your branch on so far?

[2015-06-03 17:02] dilumnavanjana commented on #624
Now I recreate the `GSoC/2015` branch from `0.17.0-prerelease`. It'll work fine from now

[2015-06-03 17:23] digitalextremist commented on #624
Did you see the rest of my notes on #628 having to do with paths and where to put your files?

[2015-06-03 17:23] dilumnavanjana commented on #624
yeah, I'm working on them now

[2015-06-03 17:25] digitalextremist commented on #624
Roger that.

[2015-06-03 21:25] danielsalles opened #629 "Celluloid::TaskFiber backtrace unavailable."
what this? I'm using only pool!

W, [2015-06-03T19:23:58.444000 #31493]  WARN -- : Terminating task: type=:finalizer, meta={:method_name=>:__shutdown__}, status=:receiving
	Celluloid::TaskFiber backtrace unavailable. Please try `Celluloid.task_class = Celluloid::TaskThread` if you need backtraces here.

[2015-06-03 21:31] danielsalles opened #630 "How to create multiple thread?"
I'm new in this thread branch. I need accomplish several things at once. I already understand the concept of 'pool' which is for what I did not do multiple cores working on the same task. Correct?

But I am doubtful with other concepts such as: How do I create multiple threads? Example: You have a loop that reads an array and performs some things. How do I before finishing the first loop it alread

[2015-06-03 21:53] dodecaphonic commented on #630
I think the [Celluloid mailing list](https://groups.google.com/forum/#!forum/celluloid-ruby) is the most appropriate place for your question. Give it a go there.

[2015-06-03 22:02] danielsalles commented on #630
Ok, sorry.

[2015-06-03 23:42] smellsblue opened #631 "JRuby: Java thread count rises until JVM dies when using 0.17.0.pre15"
If you run Sidekiq with Ceulluloid 0.17.0.pre15 with JRuby, your thread count will continue to increase until the JVM dies and Sidekiq with it.  I have a repo showing the problem at: https://github.com/smellsblue/threadingbug

I would be happy to contribute a fix, but I haven't delved deep enough in how Sidekiq and Celluloid work together.  Browsing around, it seems Fibers don't play well with JRu

[2015-06-04 00:06] digitalextremist commented on #631
@smellsblue I believe I've resolved this. Are you pulling off Github or Rubygems?

[2015-06-04 00:08] digitalextremist commented on #630
Thank you for moving to the mailing list. We've begin discussing this there.

[2015-06-04 00:08] #630 closed

[2015-06-04 00:10] digitalextremist commented on #629
You've run into a normal issue which isn't a bug, it has to do with how you use Celluloid. So post some code on the mailing list, and we'll help you see how to use Celluloid.

[2015-06-04 00:10] #629 closed

[2015-06-04 00:13] smellsblue commented on #631
Typically Rubygems.... is there a Github branch I should try with newer code?

[2015-06-04 00:26] digitalextremist commented on #631
If you want the newest stable code ( without this problem ) use this:

https://github.com/celluloid/celluloid/wiki/0.17.0-Prerelease

Reopen if this issue still exists. Here is what fixed your issue:

https://github.com/celluloid/celluloid/blob/0.17.0-prerelease/lib/celluloid/task/fibered.rb#L16

[2015-06-04 00:26] #631 closed

[2015-06-04 00:27] smellsblue commented on #631
@digitalextremist nevermind, I tried my program against 0.17.0-prerelease branch, and it works fine! Thanks a bunch!

[2015-06-04 00:27] digitalextremist commented on #631
No problem! It was a big problem. Sorry you had to see it, already resolved or not.

[2015-06-04 00:30] smellsblue commented on #631
No need to apologize, I took the risk of using a prerelease gem, so I knew the potential for problems :-) just wanted to try to help resolve it. Thanks for all your work!

[2015-06-04 00:32] digitalextremist commented on #631
By the way, you can use this to test in the future:

`gem 'cellumon', github: 'digitalextremist/cellumon', branch: 'master'`

And you can use three modes right now:

[code]

[2015-06-04 00:53] smellsblue commented on #631
Very nice, thanks!

[2015-06-04 03:14] danielsalles commented on #629
Already I asked a question there.

Thanks!

[2015-06-04 04:07] digitalextremist opened #632 "Select API for multiplexing futures, conditions, etc."
Similarly to how `Celluloid::IO` provides a `Reactor` for evented I/O, `Celluloid` itself needs a "Reactor" for handling collections of blocking processes such as `Future.value` and `Condition.wait` ... this allows the calling thread to continue processing when _any_ of the blocking processes are available for synchronous  operations to proceed.

Currently, all the blocking processes would have to

[2015-06-04 04:09] tarcieri commented on #632
Was literally just talking about this with a coworker today. It's a huge deficiency of Celluloid that it lacks such an API. It'd be really great to see it implemented.

[2015-06-04 04:10] digitalextremist commented on #632
I will get it done in `0.17.5`

[2015-06-04 04:16] digitalextremist commented on #632
In a round-about way it could either influence or be influenced by #509 ... it could end up that `Unlocker` doesn't need to ( just ) work with `Group` but with the more primitive objects like `Internals::ThreadHandle` and `Task` that wrap not just `Future` and `Condition` objects, but `Actor` objects and therefore `Call` objects.

[2015-06-04 04:30] digitalextremist commented on #632
It seems like this is a gem.

An aside: Is `Future` a gem? @tarcieri

From what I can see the only place where `Celluloid` depends on `Future` is with `defer` ... which it itself does not use anywhere. `Proxy::Future` and the like only get used by `Future` itself, so if all that were ripped out, `Celluloid` would be unaffected.

[2015-06-04 08:13] tarcieri commented on #632
Rust is pretty actively splitting out parts of the core language that are better served as libraries. However, they kept `select!` as part of the core language:

https://doc.rust-lang.org/std/macro.select!.html

I'd agree with that situation, and say the same thing about futures

[2015-06-04 08:46] digitalextremist commented on #632
Thanks for the precendent/context. Very interesting.

We'll keep `Future` *and* `Condition` in core then? In the Rust example it seems like `Future` and `Condition` would be gems and `Multiplex` would be core... if `select!` is the benchmark.

So, and aside on an aside: with Erlang/Rust/Akka being the best sources of precedent, it seems we're continuing in a vein of increasingly seeing Celluloid a

[2015-06-08 21:30] danielsalles opened #635 "condition.signal waiting a block"
Expecting a block of commands and not just a method.

[2015-06-09 04:29] digitalextremist commented on #635
Please be _much_ more specific.

[2015-06-11 08:08] e2 commented on #612
@digitalextremist - any update on this?

[2015-06-11 22:10] dcdieci opened #636 "NilClass instead of CarInMyLaneError"
Hi,

when I run the mentioned example

[code]

I do get

D, [2015-06-12T00:05:01.435507 #36716] DEBUG -- : Terminating 3 actors...
"Oh no! #<Celluloid::CellProxy(JamesDean) dead> has died because of a NilClass"

instead of the CarInMyLaneError

I am running on osx 10.10.3 .rvm/rubies/ruby-2.2.1/bin/ruby celluloid .16.0

[2015-06-17 01:49] waynerobinson opened #637 "SupervisionGroup not terminating"
I have a Rails app (4.2.0) with Celluloid (0.16.0) that has a small SupervisionGroup running with code similar to:

[code]

and in a config/initializers/workers.rb

[code]

However, whenever Rails exits, I get the following message:

`Couldn't cleanly terminate all actors in 10 seconds!`

The actors never seem to cleanly exit. And the `#close_connection` finalizer never seems to get called.

Is th

[2015-06-17 15:13] digitalextremist commented on #637
This is an issue we see frequently, and are resolving in the next version... but the next version is `0.17.5` and `0.17.0` is already available. Some things to try:

0. Use `0.17.0` if you can: https://github.com/celluloid/celluloid/wiki/0.17.0-Prerelease
0. Add `at_exit { Celluloid.shutdown }` to your application.
0. And/or try `at_exit { PUBLISHER_MANAGER.shutdown }`

Ideally, do all the above.

[2015-06-19 08:39] digitalextremist opened #638 "Multiplexed timeouts."
Along with #632, offer a timeout API ... with the waiting mechanism being satisfied by any one of the blocking activities completing, which either terminates individual blocking activities if they overrun the timeout - or terminates all the activities if any one activity overruns the timeout.

[2015-06-19 08:43] digitalextremist opened #639 "Adding to active Multiplexes."
Along with #632, allow adding to blocking operations that are in a waiting state.

For example, we instantiate 5 futures and wait on the resolution of the first one. Once that happens, we can add another future to the multiplex and still have 5 futures resolving.

This would allow for a sort of bounded pool-like processing pattern.

[2015-06-19 08:47] digitalextremist opened #640 "Ship 0.17.0"
There is a `celluloid-0.17.0.rc1` gem. We've had many people testing without issue for over 30 days. Without an official gems, some people are deploying production systems with `Celluloid` pulled from the GitHub branch, for lack of a Rubygems official release. There have been around a thousand downloads of various prerelease gems, however that number is actually counted.

As soon as I'm more free,

[2015-06-19 08:53] tarcieri commented on #640
I'd say just ship it, then have Sidekiq users test it out. The mainstream releases of the Sidekiq gem can pin to 0.16.0 for now /cc @mperham

[2015-06-19 09:00] digitalextremist commented on #640
Roger.

As long as `celluloid/current` is not used, Sidekiq ought to be fine, for the record.

[2015-06-19 10:37] digitalextremist commented on #640
Roger.

As long as `celluloid/current` is not used Sidekiq ought to be fine, for the record.

[2015-06-19 14:20] kostya commented on #640
[code]

from line https://github.com/kostya/eye/blob/celluloid17/lib/eye/system_resources.rb#L102

[2015-06-19 14:44] digitalextremist commented on #640
@kostya what's the output of `gem list` for you?

[2015-06-19 14:47] kostya commented on #640
[code]

[2015-06-19 22:24] mperham opened #641 "Remove scary deprecation warning banner"
Here's what's going to happen when you release 0.17.0.

1. People will install Sidekiq.  It accepts anything 0.16 and later.  sidekiq installs with 0.17.0.
2. Sidekiq requires 'celluloid/autostart'
3. Sidekiq prints big scary message upon startup.
4. @mperham gets deluged with issues from terrified users.

What can I do?

[2015-06-19 22:39] tarcieri commented on #641
@mperham help us find a solution that doesn't annoy the hell out of Sidekiq users :wink:

[2015-06-19 22:47] mperham commented on #641
I'm happy to opt into deprecation warnings.  Would you like me to treat Celluloid as a semver project and lock my dependency to major version?

[2015-06-19 22:54] tarcieri commented on #641
@mperham that'd probably be the best approach for now. Lock to 0.16 until you're happy with 0.17.

[2015-06-20 22:10] digitalextremist commented on #641
By the way, using `require 'celluloid/backported`' versus `require 'celluloid/autostart'` will show this:

[code]

That's a much less scary deprecation banner...

Ideally, once there is a sufficient patch, which I can put together, it'd be `require 'celluloid/current'` which has no warning at all, because it's using the most up-to-date API.

[2015-06-20 23:32] mperham commented on #641
I'd ask that be the only banner.

[2015-06-21 00:21] digitalextremist commented on #641
I'm good with that. Will do ( reopening )

[2015-06-21 14:08] kostya commented on #640
fixed by `require 'celluloid/autostart'`, all specs passed.

[2015-06-21 16:17] digitalextremist commented on #640
@kostya can you try `celluloid/current` when you get a chance, and see what breaks for you?

[2015-06-21 17:23] kostya commented on #640
with current: `/Users/kostya/projects/eye/lib/eye/system_resources.rb:102:in `<class:SystemResources>': undefined method `supervise_as' for Eye::SystemResources::Cache:Class (NoMethodError)
`

[2015-06-21 19:29] digitalextremist commented on #640
Change to `.supervise` and add `as:` before the symbol of its name and try again.

[2015-06-21 19:43] kostya commented on #640
[code]

[2015-06-22 16:45] kostya commented on #640
fixed by `gem 'celluloid-io',  '~> 0.16.5.pre0'`, tests passed, now i run stress test.

[2015-06-23 15:25] digitalextremist commented on #640
Very glad you thought to change the `Celluloid::IO` gem. I was unable to reply until now. Glad you're off & running. Eager to hear how it goes.

[2015-06-23 16:35] emcgee commented on #625
Thanks @tarcieri. Tested this with `0.16.0` and the segfaults didn't reappear, so I'd consider it closed.

[2015-06-23 18:08] #625 closed

[2015-06-26 13:15] kostya commented on #640
results of stress test, equal for each runs. 0.17 work fine, seems no leaks.

Ruby 1.9.3

|  Celluloid  | Cpu% | Rss    |
|-------------|------|--------|
| 0.15.2      |7.6   | 92288  |
| 0.16.0      |6.5   | 91208  |
| 0.17.0 back |7.1   | 92436  |
| 0.17.0      |7.1   | 92088  |

Ruby 2.2.2

|  Celluloid  | Cpu% | Rss     |
|-------------|------|---------|
| 0.15.2      |5.3   | 111668  |
| 0.16

[2015-06-26 13:26] digitalextremist commented on #640
Thank you for the results! Do you have a reproducible way of producing those benchmark statistics?

[2015-06-26 13:34] kostya commented on #640
i running multiple eyes with config examples/stress_test.eye:
[code]

EYE_V should be different for each test.
to inspect daemon info `EYE_V=193-master bundle exec eye x`

[2015-06-26 13:37] digitalextremist commented on #640
Excellent! Thank you

[2015-06-27 11:58] e2 commented on #619
@ZipoKing - just released Guard 2.12.7, which supports Listen 3.0.0, which itself doesn't depend on Celluloid at all. This means it's up to the project to choose which Celluloid version to use - Listen/Guard should work either way.

@digitalextremist - you can close this.

[2015-06-27 13:09] ZipoKing commented on #619
@e2 Happy to hear that! Thanks a million!

[2015-06-28 13:26] #619 closed

[2015-06-29 06:05] digitalextremist opened #642 "Quelling the ultra-loud shutdown."
There have been numerous reports of ever increasing noise at shutdown. It goes up, it goes down, it goes up again. We need to once and for all implement some kind of muzzle on the output of programs shutting down without also suppressing legitimately urgent log messages.

One option is to distinguish between `starting`, `running` and `shutdown` logging messages... but that has the obstacle of eith

[2015-07-04 08:23] digitalextremist commented on #641
With this change being made, I am now cutting `0.17.0` official /cc: @tarcieri

[2015-07-04 08:23] #641 closed

[2015-07-04 08:25] digitalextremist commented on #640
Shipped the gem. Merging into master, then going to check 0.16-stable requirements another time

[2015-07-04 08:25] #640 closed

[2015-07-04 09:38] #581 closed

[2015-07-04 09:44] #623 closed

[2015-07-05 22:07] mperham opened #644 "0.17 wiki doesn't explain how to fix issues"
The 0.17 upgrade tells me to use `celluloud/current` but doesn't actually tell me how to fix mperham/sidekiq#2420.  The deprecation page has a placeholder for help with upgrades.  If I just require 'celluloid', everything works but I get the warning.  What do I do?  See the celluloid-17 branch in sidekiq.

https://github.com/celluloid/celluloid/wiki/DEPRECATION-WARNING

[2015-07-05 22:42] digitalextremist commented on #644
@mperham I will put up the API changes. And I might do a sweep through sidekiq to demonstrate changes, and post a PR. I will also update the Wiki, because I planned to post instructions for `0.17.5` more so than `0.17.0` because some new *additions* come in that release, not just breaking changes.

[2015-07-06 04:41] ioquatix commented on #642
You can log messages from specific components like so:

[code]

Just an idea?

[2015-07-06 04:43] ioquatix commented on #427
Boop. I might take a look at this.

[2015-07-06 04:47] digitalextremist commented on #427
@ioquatix I was going to put this together as [`celluloid-logger`](/celluloid/celluloid-logger) since I have like 4 loggers which each do the same thing differently right now. Care to put together a gem together?

[2015-07-06 04:51] ioquatix commented on #565
Was any progress made on this?

[2015-07-06 04:52] ioquatix commented on #427
@digitalextremist I'm actually working on celluloid-dns and so I don't have much available time between that and commercial work so if you are already planning on doing that, could you do it please and thanks?

[2015-07-06 05:12] digitalextremist commented on #565
Been too busy but it's on my list for `0.17.5`

[2015-07-06 06:31] ioquatix commented on #565
Where should I look to implement this?

[2015-07-06 10:26] e2 commented on #565
@ioquatix - what I'd do:
1. start with a test in actor_examples.rb (copy/adapt `:finalizer` specs)
2. implement the `:after_initialize` class method (as an option - just like with `:finalizer`)
3. probably do the same with a `:before_finalize` option (called before the finalizer)
3. ideally (optionally?), turn the warning into a failure (with a note/link about using 2-phase construction)
4. small

[2015-07-06 10:30] e2 commented on #565
Forgot to add: and some edge case tests - like using this with inheritance. Also, likely some Celluloid tests themselves will have to be changed to use 2-phase (which is why I propose turning the warning into errors - definitely during running specs).

[2015-07-06 11:21] e2 opened #645 "Consider references and named references instead of using Registry directly"
I wanted to implement it ages, ages ago, but never got to it.

Basically, the idea is to avoid `Celluloid::Actor[:foo]` completely (due to race conditions, etc.)

Instead, one could do something like:

[code]

References could solve many API problems, including those with supervisors, e.g.:

[code]

Ideally, you could pass references as actors all around, and internally `Celluloid::Actor[name]` wo

[2015-07-06 11:39] e2 commented on #645
Related issues/discussions:

- https://github.com/celluloid/celluloid-supervision/issues/18
- https://github.com/celluloid/celluloid/pull/504#issuecomment-118717976

[2015-07-06 18:12] tarcieri commented on #645
I'd suggest looking into these:

http://doc.akka.io/docs/akka/snapshot/general/addressing.html
https://github.com/uwiger/gproc

Akka specifically supports references blocking/buffering messages while a supervisor is restarting an actor. That should fix some of the raciness.

[2015-07-06 18:36] digitalextremist commented on #645
I will look into those. The only issue with the `Celluloid[:actor]` style registry is in the resetting of the value to `nil` during a restart, so if that material covers buffering/blocking while supervisors restart actors like you say, "storing named references" is unnecessary as the registry will perform its intended function. That and celluloid/celluloid-supervision#18 cover the whole situation.

[2015-07-07 14:03] ioquatix commented on #565
@e2 thanks for this it's really helpful, I'll see if I can get some time to implement it.

[2015-07-08 16:58] kostya commented on #100
Is there any way to implement queue methods within async methods, by patching actor mailbox? Because having one more actor for each actor is a memory cost.

example:
[code]

expected:
[code]

[2015-07-08 21:38] tarcieri commented on #100
I think the correct abstraction here is something like `Celluloid::Channel`, which could also form the underpinnings of the mailbox...

[2015-07-08 21:58] mtparet opened #648 "Segfault with ruby 2.2.2 and celluloid 0.16"
Hey,

Since ruby 2.2.2, I'm seeing memory leaks and while I tried to debug it with gdb, I triggered a segfault which prevents me to go forward.

Could it be caused by celluloid or is it a bug in ruby (or something else) ?

The whole backtrace:
https://gist.github.com/mtparet/5217c21f0b6aebae6c27

[2015-07-08 22:11] tarcieri commented on #648
Segfaults indicate an MRI bug. Please report it upstream.

[2015-07-08 22:11] #648 closed

[2015-07-08 22:37] mtparet commented on #648
Indeed just applied latest patches with https://github.com/skaes/rvm-patchsets and it solve my problem.
Thanks

[2015-07-15 19:52] Micka33 opened #650 "Sidekiq won't start when using Sidetiq ERROR: Actor crashed!"
I get the following error when including Sidetiq in my project since I updated it.

I can't find where the problem is.

[code]

Here are the gems used

[code]

[2015-07-15 21:09] digitalextremist commented on #650
Would you mind copying that top chunk into a gist, I'll take a look.

[2015-07-15 21:10] digitalextremist commented on #650
I see the problem. One moment.

[2015-07-15 21:12] digitalextremist commented on #650
What operating system and RVM are you using?

[2015-07-15 23:53] #650 closed

[2015-07-15 23:54] digitalextremist commented on #650
I refactored the core detection area and cut a new release of `celluloid-essentials` which is where that error originates. Please feel free to rebundle and retest.

[2015-07-16 00:30] jonhyman commented on #193
We're using a celluloid pool inside a Sidekiq worker to make some web requests using celluloid-io. In our job, we explicitly call `pool.terminate` (even though the docs say that will happen when it gets GC'd). We're seeing what appears to be deadlocking, the call to `terminate` is hanging indefinitely until it is killed by sidekiq. Might this issue be the cause? Has anyone else on this thread expe

[2015-07-16 00:42] digitalextremist commented on #193
Please raise this as a new issue at (celluloid-pool)[/celluloid/celluloid-pool] and I'll look into it. And please test this with `0.17.0` also. The entire `Pool` system was overhauled.

[2015-07-16 00:42] #193 closed

[2015-07-16 00:43] jonhyman commented on #193
Okay will do once we upgrade sidekiq to use 0.17.0

[2015-07-16 00:44] digitalextremist commented on #193
Right on. Shouldn't be much trouble. Are you talking about patching to use `0.17.0-current` or `0.17.0-backported`?

[2015-07-16 00:48] jonhyman commented on #193
Not sure. We're waiting on https://github.com/mperham/sidekiq/issues/2420

[2015-07-16 01:22] digitalextremist commented on #193
That should be resolved at mperham/sidekiq#2438

[2015-07-20 10:24] Micka33 commented on #650
@digitalextremist Thanks for the hard work !

However I get a new error now.

You asked me which operating system and RVM I am using:
[code]

Here is the error :
[code]

[2015-07-20 10:26] Micka33 opened #651 "LoadError: cannot load such file -- win32ole on OSX - celluloid-essentials-0.20.1"
@digitalextremist Thanks for the hard work !

However I get a new error now.

You asked me which operating system and RVM I am using:
[code]

Here is the error :
[code]

referencing https://github.com/celluloid/celluloid/issues/650 for follow up.

[2015-07-20 10:26] Micka33 commented on #650
I posted the issue in https://github.com/celluloid/celluloid/issues/651

[2015-07-20 10:36] digitalextremist commented on #650
@Micka33 go ahead and try again, I posted a patch.

[2015-07-20 10:37] digitalextremist commented on #651
@Micka33 we can keep this in the `celluloid-essentials` gem. I've posted a patch there.

[2015-07-20 10:40] Micka33 commented on #650
Works perfectly ! You rock !

[2015-07-20 10:42] digitalextremist commented on #650
Right on!

[2015-07-27 12:10] digitalextremist opened #652 "Extensible SystemEvent handling."
Per the prompting of #509, more `SystemEvent` objects need to exist, and they might be added by non-core modules. The `SystemEvent` handler, `handle_system_event` needs to be dynamic, with a performant yet flexible API to inject new `SystemEvent` types.

[2015-08-04 16:16] #651 closed

[2015-08-04 16:17] digitalextremist commented on #651
Ignore previous commit message.

[2015-08-04 16:39] digitalextremist commented on #652
Might be totally crazy to think this, but I *believe* since the multi-condition statement is no longer used, but a direct search is done for the handler, it's actually faster... and in a high-traffic area!

[2015-08-04 17:26] #652 closed

[2015-08-04 17:44] digitalextremist commented on #424
I think @k-solutions is correct, if I understand, that this error type distinguishes between failure of an `Actor` and the failure of one `Task` ... in which case the error is resumable *from an `Actor` perspective*.

In any case, I am going to squelch the `Task::TerminatedError debug output unless `$CELLULOID_DEBUG` ... per the discussion in the google group.

[2015-08-04 17:48] digitalextremist commented on #424
Reopen if needed, otherwise the thinking behind this has been lost to the sands of time.

[2015-08-04 23:47] ioquatix commented on #424
I don't think the thinking behind this has been lost, it simply hasn't been clarified what is the correct behaviour. I'd still stand behind my original assertion and haven't seen clarification either way.

[2015-08-05 01:18] digitalextremist commented on #424
@ioquatix what I mean is -- whatever the previous thought was, is lost in the sauce, because either its forgotten, or the system has moved to a point where it ought to be reassessed anyway. So it'd be better to step back and look at it, and make a decision on how it ought to be now, and experiment. I'm willing to test your idea and see where it goes, but that'd be more in the vein of a PR with a b

[2015-08-05 01:24] ioquatix commented on #424
Nothing has changed, this problem still exists, along with the duplicated `TimeoutError` classes. My original assertion still stands that `TerminatedError` should really be `TerminatedException` and not inherit from `StandardError`, unless it's something that should be implicitly caught by `rescue`.

I think that `TerminatedError` seems to imply that the termination was an error that occurred. Sin

[2015-08-05 01:29] tarcieri commented on #424
@ioquatix :+1:

[2015-08-05 02:45] digitalextremist commented on #424
I've started on this, and have it mostly there -- in a separate branch -- so far something really funky is happening. Will figure out what it is.

[2015-08-05 02:46] ioquatix commented on #424
@digitalextremist thanks for taking a decent look at this.

[2015-08-05 02:47] digitalextremist commented on #424
No problem. You're right there's a lot of duplicated/fragmented exception/error code. I probably introduced problem myself, otherwise it'd probably be turnkey. Either that or its totally fubar.

[2015-08-05 02:48] ioquatix commented on #424
I was thinking about this a bit more and wondering if `TerminatedException` is really the right name, because task termination isn't really an exceptional case, is it?

Perhaps `TaskTerminated` or something else might make more sense?

[2015-08-05 02:51] digitalextremist commented on #424
We're on the same plane. That's what I called it.

[2015-08-05 02:52] digitalextremist commented on #424
And just so it's no surprise to anyone. To my mind, it's not an `Exception` ... it's `SignalException`

[2015-08-05 02:53] digitalextremist commented on #424
It's the equivalent of an in-process `Interrupt` ... but I didn't go that far and derive it from `Interrupt`, just the base class `SignalException` which this case seems to be.

[2015-08-05 02:54] digitalextremist commented on #424
And for the record, the problem I'm experiencing is one I introduced. It has to do with method arity and the handling of `ArgumentError` ... reading through the `diff` log.

[2015-08-05 06:06] TiagoCardoso1983 commented on #424
About the duplicate TimeoutError, I remember I handled this in a PR that hasn't been accepted: https://github.com/celluloid/celluloid/pull/491/files . If I recall it correctly, the idea behind it was to extend non-celluloid errors like the standard TimeoutError with a ResumableError mixin so that the Fiber could be resumed nonetheless. I don't know if this could still be a valid approach, not only

[2015-08-05 06:51] digitalextremist commented on #424
Thank you for the history @TiagoCardoso1983! I am definitely experiencing turbulence unraveling and smoothing all this out. There are some serious ripple effects triggered by touching this code... Ah, I see your approach. Interesting

[2015-08-05 07:58] digitalextremist commented on #424
I've sorted this mostly out, softly muttering "!iotquatix!" ... and I'm just getting strange `abort` behavior. And the "issue I introduced" was not really so -- it was needing to explicitly `rescue ::Exception` versus `rescue Exception` now that there's a `Celluloid::Exception` ... looking nearly done.

[2015-08-05 08:02] ioquatix commented on #424
Redefining `Exception` is probably a REALLY bad idea since people are writing `include Celluloid` right?

[2015-08-05 08:11] digitalextremist commented on #424
Very very good point. Everything else but the most important keyword I've varied to not clobber a global

[2015-08-05 08:14] digitalextremist commented on #424
Ok I have a better word

[2015-08-05 08:17] digitalextremist commented on #424
HAHAHAHAHA

That also fixed the `abort` issue.
No one ever needs to know this happened.

[2015-08-05 10:19] digitalextremist commented on #424
So far, under `MRI`, there are thread crash errors coming out where there would have been `Task::TerminatedError` ... will see what I can do to mitigate that.

[2015-08-05 12:55] gavelino opened #655 "Celluloid Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-06 06:58] digitalextremist commented on #655
a) Tony is the author. But I am active maintainer / main developer.
b) We love Tony; he has many, many pursuits. We carry load between several of us.
c) We are a well loved library with many people aware of how it works and who could step in any time.

Please take up your discussion in our google group:
https://groups.google.com/forum/#!forum/celluloid-ruby

[2015-08-06 06:58] #655 closed

[2015-08-06 07:30] digitalextremist commented on #645
I'm warming up to this.

[2015-08-06 12:00] #424 closed

[2015-08-06 12:10] #624 closed

[2015-08-06 12:19] digitalextremist commented on #613
Please repost this if you're still having this issue with `0.17.0` ... even though this seems like a legitimate error... nesting Fiber handling.

[2015-08-06 12:19] #613 closed

[2015-08-06 13:06] digitalextremist commented on #636
I've verified this is a race condition. Patching

[2015-08-06 13:19] #636 closed

[2015-08-06 13:21] digitalextremist commented on #642
With the inclusion of celluloid/celluloid-essentials@b05b812cdcfedc67b62de59aec2f42f82e90756d this has settled back down.

[2015-08-06 13:21] #642 closed

[2015-08-06 13:29] digitalextremist commented on #493
This was resolved in the supervision refactor. Cannot reproduce any longer.

[2015-08-06 13:29] #493 closed

[2015-08-06 13:30] digitalextremist commented on #610
This was cut to its own branch before `0.17.5` proceeded in `master`

[2015-08-06 13:30] #610 closed

[2015-08-06 13:38] #635 closed

[2015-08-06 13:56] digitalextremist commented on #637
I've retested this, and it was fixed over 90 days ago with the refactoring of `0.17.0` which took supervision out to [its own gem](https://github.com/celluloid/celluloid-supervision) and refactored it ( [along with `Pool`](https://github.com/celluloid/celluloid-pool) as well )

This has been also tested extensively using actors who have `ZMQ` sockets open, and plenty of other such connections, inc

[2015-08-06 13:56] #637 closed

[2015-08-06 14:15] digitalextremist commented on #644
I've added a refactoring guide, and the list of things to do is a lot smaller than I thought:

https://github.com/celluloid/celluloid/wiki/DEPRECATION-WARNING#most-common-changes

I will come back over to your thread and finish that. I got hung up with `byebug` not compiling.

[2015-08-06 14:15] #644 closed

[2015-08-06 17:30] gavelino commented on #655
Ok. Thank you for the answer. I'll post the question on google groups.

[2015-08-07 02:21] waynerobinson commented on #637
For me this ended up being an interaction with Spring & Celluloid. Removing Spring solved my issue.

[2015-08-07 21:25] digitalextremist commented on #232
This has introduced instability I'm afraid.

[2015-08-07 23:42] digitalextremist opened #656 "Support jRuby 9k, and deprecate Ruby 1.9.3"
It seems a standard-library change has made a substantial number of tests fail with `jRuby 9.0.0.0` and certainly `jruby-head` ( which is `9.0.1.0+` ) ... with the energy that goes into refactoring to support the new `jRuby` it would also be a good time to deprecate `Ruby 1.9.3`

[2015-08-08 00:19] digitalextremist commented on #612
@e2 I cherry picked that for you, and cut `0.16.1` just now. If you would be willing to reapply the patch to `0.18.0` in its current incarnation and PR that, I'd appreciate it. Otherwise I'll eventually remember to do that, but not for a long time. Please confirm your situation is sorted out now.

[2015-08-08 11:58] digitalextremist commented on #600
I don't think this was every really a problem. The code is 99% current internally. Every now and then I see an old class name somewhere, but instead I will just double-check this and grep all the past class names from `deprecate.rb`

[2015-08-08 12:03] digitalextremist opened #657 "Deprecate old API earlier than later?"
I feel like maintaining both APIs isn't helping anyone long-term. People can use `0.17.0` if they want the more stable library, i.e. no more `InternalPool`, refactored supervision and pools, cleaned out tests, etc... but if they want to update to `0.18.0` they are going to be coming after new features that they have no code for currently, like Multiplexers ( #632 ) ... Then add `1.9.3` being depre

[2015-08-08 12:34] digitalextremist opened #658 "Omnibus Reloaded"
#### Should these be called `celluloid/core`?

I'm merging together the libraries right now, and all these are going into one:
- [ ] `Celluloid` itself.
- [ ] `Cellulid::IO`
- [ ] `Celluloid::ZMQ`
- [ ] The `celluloid-culture` gem.
  - [ ] It will no longer be a submodule.
  - [ ] It will probably be dissolved into parts of the root directory.
- [ ] The `celluloid-essentials` gem.
- [ ] The `cellu

[2015-08-08 13:01] digitalextremist commented on #658
I created these, to think about:

- `celluloid/core`: "Foundational Celluloid libraries and gems."
- `celluloid/services` "Servers, plugins, and frameworks based on Celluloid."
- `celluloid/rubysl`: "Additions to the Ruby Standard Library."

[2015-08-08 14:45] e2 commented on #612
Listen doesn't use celluloid since 3.x, so I personally am not experiencing this anymore - and so I don't have a celluloid project to test a PR against.

It's unlikely this problem will reoccur, and if it does, it isn't complex to fix with an similar patch.

[2015-08-08 23:40] digitalextremist commented on #658
I have this almost ready to merge everything one after another, doing three omnirepos in a few minutes:

* [omnirepo](https://github.com/digitalextremist/omnirepo)

About to merge and push the first one to look through. Since the process is easy to redo, it doesn't matter if it's just wiped and redone.

[2015-08-09 01:47] digitalextremist commented on #658
@tarcieri do you think it'd be alright if only master from ever repository came into the new omnirepo?

Seems like the easy flow is:

0. Clone soon to be embedded `repo`.
0. Remove submodules linkages and (empty) directories.
0. Remove all tags.
0. Move everything into a subdirectory of name `repo`.
0. Merge `repo`/master into `omnirepo`/master
0. Repeat with next embedded repository.

We could sh

[2015-08-09 01:49] digitalextremist commented on #658
The issue I'm having is sort of a catch-22 because to preserve all branches, you need a bare mirror, but with a bare mirror you can't (that I know of) move all the files into a subdirectory, because it's not a working copy, so you have no file tree available. This way, it could just be a regular clone, so there'd be a filetree to mess with and rearrange, but only one branch.

I suppose I could hav

[2015-08-09 01:53] digitalextremist commented on #658
The underlying assumption here is that we don't want to totally destroy all the issues in the tracker by suddenly having several thousand potential incorrect links to issues... so we'll keep the trackers for individual libraries, and phase out the repository itself... and have no tracker on each omnirepo.

[2015-08-10 11:56] digitalextremist opened #659 "Add `Celluloid.services` to `deprecate.rb` if needed."
Determine why there is not backporting support in certain cases. Without the `current` API, there is at times no access point to interface with the root supervisor.

[2015-08-10 12:27] digitalextremist opened #660 "Configuration object, configure class method, and new starting behavior."
- [ ] Create a `Celluloid.configure { |config| }` interface to setting what would otherwise be global variables.
  - [ ] ... or allow passing in a hash to that class method.
-  [ ] Because of this convention, we only start `Actor::System` after `Celluloid.configure` runs ( in either form ) or on its first inclusion... whichever comes first.

This would still be before its first actual _use_ which

[2015-08-10 12:30] digitalextremist opened #661 "Move supervision wiki content to gem."
- [ ] Update the content.
- [ ] Move it to the gem's wiki.
- [ ] Provide ample linkage at this wiki.
- [ ] Add linkage at the `core` omnirepo.
- [ ] Begin posting a TOC at `celluloid.io`

[2015-08-11 14:32] gunnarmarten opened #663 "Poolmanager errors with 'private method' error when calling a worker method"
Hey,
I recently upgraded from celluloid 0.16.0 to 0.16.1 and our logging class isn't working anymore.
I'm using ruby-2.1.5 on OSX 10.8.5.

I stripped it down to this code:
[code]

If I execute this code with celluloid 0.16.1 or 0.17 get this error:
[code]

So the behavior worker methods are looked up and called has changed since 0.16.0 and now celluloid wants to call private method from a super cl

[2015-08-11 14:39] digitalextremist commented on #663
Have you tried this with `0.17.1.1` by chance?

I also have noticed problems with `warn` being somewhat impossible to override or rename. Yes, I notice that `Kernel.warn` is called, even if it is overridden. I'll look further into this.

Question: Why is your logger implemented as a pool, rather than as just `async` methods?

[2015-08-11 15:19] gunnarmarten commented on #663
I just tried `0.17.1.1`, same issue:

[code]

Hmm, i'm not a 100% sure how this developed to use a pool, its some pretty old code. We're using the logger in different projects with sometimes a lot of workers and sometimes just one. So we use sometimes a pool and sometimes none but the call of the logger stays the same `logger.info`. And we wanted to make sure that the logs are written to the log s

[2015-08-11 17:54] digitalextremist commented on #663
You are less likely to get things to happen in calling order with a pool than with async. I personally use async religiously for logging.

Question: Do all the other levels besides `warn` work?

[2015-08-11 20:51] gunnarmarten commented on #663
Yeah, all the other levels do work, it's the `warn` that isn't called correctly. If I just use an actor instead of the pool everything works fine.

[2015-08-11 20:57] digitalextremist commented on #663
This tells me that the same situation as what I experienced is happening... I was using `extend Forwardable` and delegating that log level... which caused what you're experiencing. It seems something is clobbering redirected references, rather than direct method invocations... since you are working through proxies and not touching the object itself.

[2015-08-11 21:00] digitalextremist commented on #663
Interesting factoid, if you trace this, I bet you will find that if you run `method(:warn).source_location` it will show you a `Kernel` reference.

[2015-08-19 09:45] ioquatix opened #667 "Celluloid.logger default level is DEBUG?"
This seems to be overly verbose. I'd suggest at a minimum it would be INFO or WARN.

[2015-08-19 09:59] digitalextremist commented on #667
Well, now `:debug` is by default muted..

[2015-08-19 10:14] ioquatix commented on #667
in 0.17.1 ? I'm getting the following

[code]

[2015-08-19 10:16] digitalextremist commented on #667
What `celluloid-essentials` version?

[2015-08-19 10:17] ioquatix commented on #667
[code]

[2015-08-19 10:34] sebyx07 commented on #612
-v '0.16.1' is yanked, can you revert this ?

[2015-08-19 10:38] digitalextremist commented on #612
Yes, this is yanked. And the piece of logic in this will come back in at `0.18.0` for those following the path forward. Maintaining the previous series of versions has proven to be like trying to brush removed molars, so that'll just stop. If people want what was `0.16.1` then they can pull in `0-16-stable` directly from the repository... but `0.18.0` ought to dramatically out-perform the `0.16.0`

[2015-08-19 11:50] bluej100 commented on #612
The most recent version of sidekiq still depends on the 0.16 branch: https://rubygems.org/gems/sidekiq/versions/3.4.2 .

[2015-08-19 12:09] digitalextremist commented on #612
Yes, and it was just updated to use `0.17.*` over the last 7-10 days, so that'll be nice to see it released.

[2015-08-19 12:10] bluej100 commented on #612
Terrific. Thank you.

[2015-08-19 16:07] cryptojuice commented on #612
Would have been nice if this was pulled after Sidekiq released a new build with 0.17.x. A number of us aren't working directly off Sidekiq's master branch.

[2015-08-19 18:20] BlakeBosin commented on #612
The problem with yanking gems, is when other gems have coded dependencies on your gem.  Example of some of the tools we use that use this gem are Ridley and Berkshelf, Omnibus.  We normally have these top level gems versioned locked because we support online operations.  Its one thing to yank a gem the same day it's released, but after it's been out for sometime, you should have a really good reas

[2015-08-19 18:33] bluej100 commented on #612
Yeah, we've just dropped back to 0.16.0 for now, which hardly seems like behavior to encourage. I would appreciate it if you would at least leave it up until major dependent projects publish new versions with updated dependencies.

[2015-08-19 18:40] jmanero-r7 commented on #612
An other alternative would be to re-release the reverted code-line, e.g. `0.16.0` as `0.16.2`. This would have the effect of reverting the code, but keep sane resolution for anything locked on the `0.16` line (especially with `~> 0.16.1`, like `berkshelf@3.3.0`).

[2015-08-19 19:59] pda commented on #612
Yes please — yanking published versions just causes pain around the world. We've currently got broken `Gemfile.lock` files with 0.16.1 pulled in by sidekiq.

[2015-08-19 21:57] aianus commented on #612
+1, please don't yank published versions.

[2015-08-19 23:33] cconstantine commented on #612
+1, please don't yank published versions.

[2015-08-19 23:35] tarcieri commented on #612
Duly noted, you can cease the +1s now

[2015-08-19 23:46] cconstantine commented on #612
Thanks.  Celluloid is some good stuff.  The fact that people care after even a few days of being out shows that people like and use it. :)

[2015-08-21 00:14] TiagoCardoso1983 commented on #667
Is this really relevant? You can always pass your library/app logger to Celluloid.logger and it'll all revert back to the same, it's anyways bad to have different loggers lurking around.

[2015-08-21 00:17] ioquatix commented on #667
Is it really a good idea to output debug messages by default? If anything, having an environment variable would make more sense, i.e. by default log level is INFO (1). If CELLULOID_DEBUG is defined then make it 0 or something.

The problem with mucking around with Celluloid.logger is where to do it and what to do if multiple libraries are trying to do it?

[2015-08-21 00:26] ioquatix commented on #667
https://github.com/celluloid/celluloid/blob/1f09c6692ef8d00972ef351d3ba66a8bf78b777c/lib/celluloid.rb#L466

So, proposing to add something like so

    Celluloid.logger = Logger.new($STDERR).tap{|logger| logger.level = Logger::INFO}

[2015-08-21 00:27] ioquatix commented on #667
Or even:

    l = Logger.new($STDERR).tap{|logger| logger.level = Logger::INFO unless $CELLULOID_DEBUG}

[2015-08-21 01:05] ioquatix commented on #667
@TiagoCardoso1983 this is in a library. I don't feel it's appropriate to modify logger. `Celluloid::DNS` makes use of debug messages and in normal operation generates potentially 100s or 1000s of them per second.

https://github.com/celluloid/celluloid-dns/blob/90ca3bb100acfdcfec7349e75ef60a6ae398565e/lib/celluloid/dns/server.rb#L54

The main issue for me is in specs. I could change the specs to c

[2015-08-25 17:49] rmosolgo opened #668 "Pool fails to restart actors on Travis only?"
Hi,

Thanks for all your work on this gem. It's been really fun trying to learn how everything works!

I'm trying to parallelize some tree traversal: as I go down each node, that node determines whether there are any nodes under it, and if there are, it continues downward.

In my test suite, there are a couple tests which make sure that, if an error is raised during this process, it is either rais

[2015-08-26 00:34] digitalextremist commented on #668
Sounds like there's a race condition in CI. I will come back to help you with this if someone else doesn't before me. I will leave this here because it's so well put together, but usually this would either be a question on the mailing list until it's determined to be a bug -- or at least posted on the gem in question; in this case [celluloid-pool](https://github.com/celluloid/celluloid-pool)

[2015-08-26 00:37] digitalextremist commented on #668
And fyi, I magically happen to have a lab in Carlsbad, so if this gets totally out of hand for you, I have a half-room full of whiteboards. But hopefully this can be handled simply for you.

[2015-08-26 03:02] rmosolgo commented on #668
Ohhh thanks for the tip -- actually that's quite helpful.

For the time being, I think I can just use a fresh pool for each run. It adds some overhead of restarting & terminating, but I think it's ok for now.

Thanks for your suggestion, and the offer to meet up! Btw if you're ever interested, we host this at our office near Palomar Airport: http://www.meetup.com/fullstacktalks/ :)

Ok, I'll close

[2015-08-26 03:02] #668 closed

[2015-08-29 09:21] digitalextremist opened #669 "Assess and cherry-pick Perl 6 primitives."
Assess and approximate primitives [demonstrated in Perl 6](https://www.youtube.com/watch?v=JpqnNCx7wVY) where desired, likely by creating additional gems. Cherry-pick concepts and behaviors including but not limited to:
- [ ] Lazy `.race`, and `.hybrid` methods ( and a more powerful `.map` ) by including modules.
- [ ] `React` blocks ( i.e. for "main loops" )
- [ ] `Supply` [objects, and blocks](h

[2015-08-29 09:40] digitalextremist commented on #632
This will likely be wise to approach laterally, by way of #669.

[2015-09-01 00:30] hstrowd opened #670 "Memory Leak using Celluloid::Future"
I am using `Celluloid::Future` to kick off tasks and delay their execution until the result is requested. In version 0.17.0, I am finding that this is resulting in an apparent memory leak. Each call I run appears to create a new thread in the `Celluloid.actor_system.group.group` array. The `Celluloid::Group::Spawner` appears to never clean up the completed Threads that it creates.

As a work aroun

[2015-09-01 17:43] digitalextremist opened #671 "Decouple the celluloid-* gemset."
After #658:

- [ ] Deprecate `celluloid-culture` as a submodule, and handle dependencies within an omnirepo context, more organically.
- [ ]  Be sure each gem can standalone, within reason -- understanding certain gems are useless alone, such as `celluloid-essentials`.
- [ ] Update `Reel` and similar gems which depend on specific classes that were extracted, i.e. `celluloid-fsm`
- [ ] Update all g

[2015-09-03 22:54] beneggett opened #672 "Celluloid 0.16.1 yanked?"
Gem got yanked... https://rubygems.org/gems/celluloid/versions/0.16.1

Previously working dependencies can no longer find it in rubygems.

I still see it in the github releases: https://github.com/celluloid/celluloid/releases/tag/v0.16.1

[2015-09-03 22:58] tarcieri commented on #672
Dup of #612

[2015-09-03 22:58] #672 closed

[2015-09-03 23:01] beneggett commented on #672
Aww my bad,  didn't realize it was the same issue. Thanks for the quick reply and close

[2015-09-07 06:48] morgoth opened #673 "New gem dependencies not required in runtime"
I just updated celluloid to 0.17.0 and noticed that it now depends on gems such as `bundler`, `rspec-logsplit`.
Shouldn't they be required only for development?
Also looks like `dotenv` shouldn't be part of default dependencies.

[2015-09-07 14:18] digitalextremist commented on #673
Duplicate of https://github.com/celluloid/culture/issues/29 -- please see that issue and continue there as needed.

[2015-09-07 14:18] #673 closed

[2015-09-13 10:16] andreacfm opened #674 "require 'celluloid/current' in released gems"
I cannot require 'celluloid/current' in my gems releases because it results in a not exists file error after the gems is installed. Had to fallback to requiring 'celluloid/autostart'
I use 0.17 in gemspec:

[code]

[2015-09-13 23:19] ioquatix commented on #669
Interesting. I suggested to Matz to implement channels and "go procs" as fundamental data strutures in MRI.

[2015-09-14 15:22] digitalextremist commented on #674
Would you mind posting your entire `Gemfile.lock`? I've seen certain gems lock `Celluloid` at `0.16.0` even though the correct version is specified.

[2015-09-14 19:23] andreacfm commented on #674
Here you are

[code]

[2015-09-14 19:29] digitalextremist commented on #674
Thank you. Is your repository itself public somewhere?

[2015-09-15 07:01] andreacfm commented on #674
yes https://github.com/andreacfm/zio

[2015-09-15 15:45] mperham opened #675 "rspec-logsplit?"
Why is Celluloid installing rspec-logsplit for everyone?

[2015-09-15 16:18] tarcieri commented on #675
See https://github.com/celluloid/culture/pull/26

[2015-09-15 16:18] #675 closed

[2015-09-16 00:58] kostya commented on #675
also why nenv, dotenv?

[2015-09-16 01:42] tarcieri commented on #675
@kostya please ask these questions on https://github.com/celluloid/culture/pull/26

[2015-09-18 09:26] kostya commented on #670
i updated eye to 0.17 (https://github.com/kostya/eye/commit/408a42ead23599dddfc7504f887dbc90c6258b47), and now also experiencing memory leak in production usage.

with https://github.com/Vasfed/heap_dump i counting leaking objects:
when process start it was 79Mb

main difference between objects:
[code]

after 8hours, 440Mb
[code]

[2015-09-18 09:59] kostya commented on #670
to reproduce seems enough:
[code]

200Mb after 5 min.

[2015-09-19 12:13] hstrowd commented on #670
@kostya Can you confirm which `Celluloid::Group` implementation you are using? We had to set this explicitly to `Celluloid::Group::Pool` in the following manner:

[code]

[2015-09-19 20:32] pedrorolo opened #677 "This program blows up in jruby. I guess it's something in Celluloid::Conditions"
I started fiddling with celluloid and i had this trouble with this little experiment.

[code]

Error:

E, [2015-09-19T21:20:12.406000 #46502] ERROR -- : Actor crashed!
ArgumentError: wrong number of arguments (1 for 0)
    /Users/pedro/.rvm/gems/jruby-9.0.1.0/gems/celluloid-0.17.1.2/lib/celluloid/system_events.rb:6:in `handle_system_event'
    /Users/pedro/.rvm/gems/jruby-9.0.1.0/gems/celluloid-0.

[2015-09-20 02:54] kostya commented on #670
yes this is not leaked, but why it is not the default?
[code]

[2015-09-20 08:39] marshall-lee commented on #670
@kostya ¯\\_(ツ)_/¯ https://github.com/celluloid/celluloid/blob/de28f55d6e37b6e98063aa64b82542fec8b14b29/lib/celluloid/group/pool.rb#L6

[2015-09-20 12:30] marshall-lee commented on #670
It's not only the `Celluloid::Future` leaking. `Celluloid::Actor` leaks too :(

[2015-09-20 15:50] marshall-lee commented on #670
@kostya could you please profile the entire Eye with my branch from #678?

[2015-09-21 02:13] digitalextremist commented on #670
@marshall-lee yes, this is a known issue and your PR seems to be in the right track. I will review shortly.

[2015-09-21 09:21] #670 closed

[2015-09-21 13:18] kostya commented on #670
@marshall-lee thanks, i applied one line `@mutex.synchronize { @group.delete Thread.current }` on production, leak fixed.
@digitalextremist can you release 0.17.1.3?

[2015-09-21 13:23] digitalextremist commented on #670
I am working on `0.17.3` right now, but I might hold it a bit longer and release `0.17.5` with more; either way this is near @kostya.

[2015-09-22 21:57] felixalias opened #680 "ERROR -- : TaskTimeout at start of supervised instance of ..."
Hi, I'm trying to use Celluloid v0.17.1.2's Supervision::Container with JRuby 1.7.11.

The supervision class looks something like this (snipped down):
[code]

After Celluloid restarts it a fair number of times successfully (hundreds, maybe?), it fails and the whole app crashes:
[code]

As you can see, I've tried adjusting the linking timeout to 30 seconds, as well as setting the task_class to be C

[2015-09-22 22:36] digitalextremist commented on #680
Yes, this can be done differently.

The `supervise` lines ought to happen directly in the class body for your container.

Have you tried that?

[2015-09-22 22:41] felixalias commented on #680
They aren't in the class body because they're loaded dynamically from configuration (this class has no knowledge of what workers it will be supervising).

I just tried with the supervise statement in the class body and got the same result.

[2015-09-22 23:18] digitalextremist commented on #680
Well, then two things... you ought to try using a configuration object, then deploy the configuration... but if it also happens with `supervise` in the class body... then the actors you are instantiating and supervising likely have issues in their `initialize` methods.

[2015-09-22 23:22] felixalias commented on #680
The initialize method really is just as simple as I listed (it's an async call to a method that crashes a lot). Is that an unsupported pattern? If so, what's a better way to ensure that a long-running method stays running?

[2015-09-22 23:24] digitalextremist commented on #680
Do any of the initializers create UUID's by chance?

[2015-09-22 23:26] felixalias commented on #680
Nope, it's truly as simple as

[code]

Does the async call create UUIDs?

[2015-09-22 23:36] digitalextremist commented on #680
No.

Can you rerun your test with the `supervise` commands in the class body?

[2015-09-22 23:36] felixalias commented on #680
Yes, I ran it without any of the dynamic loading logic as above and got the identical failure scenario.

[2015-09-22 23:41] digitalextremist commented on #680
Please post a gist with a runable repro and I will look into this.

[2015-09-23 00:05] felixalias commented on #680
Just working on a repro, I have a tiny script that does it. One thing I've noticed right away is that the issue does NOT occur with --debug, but starts happening with --server (JVM arguments).

Further, it goes away with InvokeDynamic disabled (-Xcompile.invokedynamic=false). It's also worth mentioning I'm on JDK8 (which supposedly resolved those issues with InvokeDynamic).. Looks like this is mor

[2015-09-23 00:13] digitalextremist commented on #680
For future benefit, can you take your last comment and update your issue description with that excellent information? Thanks for helping to diagnose this. I will look into it.

[2015-09-23 00:19] felixalias commented on #680
Sure! Updated, thanks for debugging this with me.

[2015-09-24 21:34] fedenusy opened #681 "Performance suffered after upgrade to 0.17"
I want to relate my upgrade experience in case it's helpful to the core contributors (@tarcieri @digitalextremist). This is a very generic issue without repro steps, so feel free to close immediately after reading.

Initial stack:
- celluloid 0.16.0
- celluloid-io 0.16.1
- reel 0.5.0
- JRuby 9.0.1.0

After upgrade:
- celluloid 0.17.1.2
- celluloid-io 0.17.1
- reel 0.5.0
- JRuby 9.0.1.0

The upgrad

[2015-09-24 21:50] digitalextremist commented on #681
Will reply further, but a known leak is being fixed in 0.17.3 in a day or two. Stand by for more thorough response.

[2015-09-25 15:27] digitalextremist commented on #681
This ought to be resolved completely in the next day or two, after the inclusion of #678 especially.

Also, `Reel` is at `0.6.0` but it has not been cut, because of some `jRuby` issues. So `0.6.5` will be released instead. All in all, there is a *lot* of code between `0.16.0` of `Celluloid` and `0.5.0` of `Reel`... so please reopen this after upgrading in the future, if the problems persist.

[2015-09-25 15:27] #681 closed

[2015-10-06 16:06] digitalextremist opened #683 "Performance oriented refactoring."
At the prompting of @TiagoCardoso1983's benchmarking, posted on the mailing list:

https://groups.google.com/forum/#!topic/celluloid-ruby/5ybUSbNrYJw

And in consideration of mperham/sidekiq#2583

... instead of moving on to new features and gem decoupling in a `0.18.0` release: an interim `0.17.5` release will include a performance audit and refactoring, across the board.

Before and after benchm

[2015-10-08 16:02] clonezone opened #684 "Request: prefix all standard Actor names in order to avoid conflicts."
For example, instead of the Celluloid::Notifications::Fanout being "notifications_fanout", make it "celluloid_notifications_fanout".

I'm just worried about my code accidentally conflicting with standard Actor names.

[2015-10-08 16:16] digitalextremist commented on #684
What about *optional* prefixing of system instantiated actors, using a constant that if unset keeps the same behavior as now?

[2015-10-08 17:04] clonezone commented on #684
How much non-celluloid code is directly using those names now? The names are nicely hidden behind methods already, e.g. the C::N::Fanout instance is accessed via C::N.notifier().

[2015-10-08 17:06] clonezone commented on #684
BTW, I'm about to name an Actor "notifications_manager" because that's what makes sense for my system. Do I need to worry about Celluloid grabbing that?

[2015-10-08 17:26] clonezone commented on #684
I would worry about the naïve Celluloid user that doesn't realize that they can't use "incident_reporter" as an Actor name.

[2015-10-17 06:15] Tonkpils opened #685 "cannot load such file -- dotenv and unable to boot Celluloid during tests"
In previous versions of Celluloid (0.16.2 as far back as I've seen it work), requiring `celluloid/rspec` worked in the following code for running `rspec spec` https://github.com/Tonkpils/celluloid-eventsource/blob/master/spec/spec_helper.rb#L5

With the latest release of Celluloid (0.17.2), it seems that changes were made to the `celluloid/rspec` file which caused it to require `dotenv` which is n

[2015-10-17 06:41] Tonkpils commented on #685
Hmm, seems that requiring `celluloid/test` and adding an `around` hook with

[code]

seemed to do the trick.

[2015-10-17 06:41] #685 closed

[2015-11-03 14:20] tpal-systango opened #687 "Segmentation Fault"
I am facing the problem in Development environment  . I think It may be due to the Sucker Punch Gem but I can't recognized why this error I am getting . It stopped the rails server.

/home/tpal/.rvm/gems/ruby-1.9.2-p320@iqglobal_new/gems/celluloid-0.16.0/lib/celluloid/tasks/task_fiber.rb:10: [BUG] Segmentation fault
ruby 1.9.2p320 (2012-04-20 revision 35421) [x86_64-linux]

-- control frame ------

[2015-11-03 17:25] tarcieri commented on #687
Segfaults indicate a bug in the Ruby interpreter or a native extension and cannot be caused by Celluloid, a pure-Ruby library.

[2015-11-03 17:25] #687 closed

[2015-11-03 18:38] pboling commented on #687
The first thing to try is rebuild your Ruby install, and re-bundle install your gems.  If you recently upgraded, say, Mac OS X, your Rubies likely must be reinstalled.

[2015-11-09 13:44] krisleech opened #690 "Error bundle installing when using github repo"
Might be related to [this issue](https://github.com/celluloid/celluloid/issues/671), when I try to use the git repo version of celluloid I get an error when bundle installing.

[code]

[code]

I'm using jruby 9.0.3.0 (2.2.2) 2015-10-21 633c9aa Java HotSpot(TM) 64-Bit Server VM 25.40-b25 on 1.8.0_40-b25 +jit [darwin-x86_64]

Is this known?

[2015-11-17 12:55] jonyt opened #691 "Logging docs are wrong"
As of latest version you need to include `Celluloid::Internals::Logger` and not `Celluloid::Logger`. This should be changed in https://github.com/celluloid/celluloid/wiki/Logging.

[2015-11-19 01:25] digitalextremist commented on #691
Thank you for catching that. Fixed //

[2015-11-19 01:25] #691 closed

[2015-11-29 15:49] kostya opened #693 "bug synchronization with conditions"
i need some synchronization by hands, i used conditions for this

simplified example:

[code]

but get a error
[code]

[2015-11-29 16:33] kostya commented on #693
i also trying to use future in signaling way:
[code]

but get error:
[code]

[2015-11-29 18:56] tarcieri commented on #693
Conditions are level triggered. You need to be in a synchronized state to use them correctly. The API was changed at one point so they could be used across threads, but incorrectly so races like this crop up. They should probably be changed back so they're "pinned" to a particular actor/thread.

We should probably add a big warning to the documentation about this as the API is effectively unsafe i

[2015-11-29 18:56] #693 closed

[2015-11-29 19:08] kostya commented on #693
but how i can get future in such case? for method :add

[code]

[2015-11-29 21:19] tarcieri commented on #693
[code]

[2015-11-29 21:52] kostya commented on #693
with this i just get future to adding event into @queue, which is milisecond, but how i can wait when every bla is end?

[2015-11-29 21:55] kostya commented on #693
i expected something to work:

[code]

[2015-12-07 16:58] TiagoCardoso1983 opened #694 "JRuby block handling messing celluloid event handling"
Refering to this line:

https://github.com/celluloid/celluloid/blob/master/lib/celluloid/system_events.rb#L113

This apparently fails in JRuby. I switched this locally to:

[code]

and it worked again.

My guess is, this is either a JRuby bug or undefined behaviour. I first thought it was this:

[code]
but CRuby 2.0 behaves the same way. Then I thought it was because of the [define_method meta-def

[2015-12-08 17:13] digitalextremist commented on #694
Thank you for the detailed information about this nuanced variation @TiagoCardoso1983...

Curious to hear from @headius on why the `&` invocation style does not work as expected.

I'd merge a PR with your version, citing the reference below as already using that style ( fortuitously, evidently ):

https://github.com/celluloid/celluloid/blob/master/lib/celluloid/system_events.rb#L51

[2015-12-10 11:14] #694 closed

[2015-12-20 07:12] dhh opened #696 ""Couldn't cleanly terminate all actors in 10 seconds!" with Spring 1.6.0 and Rails 5.0.0.beta1"
Rails 5.0.0.beta1 encourages you to mount the Celluloid-powered `ActionCable.server` in-process by changing the routes.rb file to uncomment `mount ActionCable.server => '/cable'`. When you do that, generator commands (that presumably do a fork somewhere) start hanging with the following error message: `E, [2015-12-20T08:09:19.218168 #5720] ERROR -- : Couldn't cleanly terminate all actors in 10 sec

[2015-12-20 07:21] dhh commented on #696
//cc @tarcieri @grosser

[2015-12-20 07:35] dhh opened #697 "Actor crashes when stopping the Rails 5.0.0.beta1 beta puma server"
If you've engaged the Celluloid server on a Rails 5.0.0.beta1 app (do this by enabling the cable in JS + routes.rb, then call just `App.cable.send("whatever")`, and you quit the development server with CTRL-C, you get a dead actor exception:

[code]

[2015-12-20 07:35] dhh commented on #697
//cc @tarcieri

[2015-12-20 17:17] tarcieri commented on #696
There was previously a fix for this for 0.16.x (see #612). However, between 0.16 and 0.17 the default thread spawning strategy changed (thread pool -> spawn-on-demand), and the fix for this regressed.

[2015-12-23 02:11] tarcieri commented on #697
FWIW, I tried to repro this and got as far as this ExecJS error:

[code]

Mind pushing up a repo that has a ready-to-go reproduction of the problem?

[2015-12-23 02:47] tarcieri opened #698 "Remove default at_exit handler?"
Celluloid automatically installs an `at_exit` handler when `celluloid` is required, which just calls `Celluloid.shutdown`. Maybe it shouldn't.

With Rails pulling in Celluloid by default now, this becomes pretty onerous. I think it's contributing to #697.

Celluloid has always straddled the line between library and framework. I think most people end up using it as a library, and for them, the defa

[2015-12-23 09:01] dhh commented on #698
That makes a lot of sense to me. Far better for us to just turn on the at_exit handler for dedicated celluloid processes. Then we wouldn't have it on for the default in-app mounting in development.

[2015-12-28 20:17] texpert commented on #463
Maybe this is causing leaks? https://evilmartians.com/chronicles/ruby-2_2-oom

[2015-12-29 01:00] curtislinden commented on #463
oh yeah good find. Could be related - this was pre 2.2.2 however.

On Mon, Dec 28, 2015 at 12:17 PM, Aurel Branzeanu <notifications@github.com>
wrote:

--
Curtis J Schofield | Senior Systems Analyst | U2U
Skype robotarmymade | Second Life Curtis Linden | C 415.632.6001

Linden Lab | Makers of Shared Creative Spaces

[2015-12-29 07:29] marshall-lee commented on #463
@texpert reproduction code contains neither recursion nor deep method calls, so i think no.

[2016-01-04 08:08] ioquatix commented on #667
Okay guys I'd like to merge this. Feedback please.

[2016-01-08 18:54] digitalextremist commented on #667
This seems fine to me

[2016-01-08 21:58] #667 closed

[2016-01-15 04:27] tilo commented on #421
@ioquatix does this fix work reliably?

[2016-01-15 16:06] #674 closed

[2016-02-18 20:12] mike-ball commented on #696
Any plans to fix this in a new update to 0.17?

[2016-03-05 17:08] ivanilves commented on #696
Yes, fix it please :pray:

[2016-03-08 14:20] balasankarc opened #706 "Use celluloid-culture as a gem"
Hi,
I am part of the team that maintains the package of celluloid gem in Debian. Right now, all celluloid-* gems use 'culture/sync' in gemspec and many other files using a relative path (which,also uses a git submodule). It is extremely difficult to handle submodules when it comes to distribution of a software.

I saw celluloid-culture is available as a gem. So, can you switch over to using it as

[2016-03-08 14:23] balasankarc opened #707 "Tests failing"
I am helping maintaining the ruby-celluloid package in Debian. When building, the latest version gives this test failure

[code]

I tried adding `require 'celluloid'` statement in `spec/celluloid/actor/system_spec.rb` file, but it gave Pathname error for almost all the tests.

Can you help us solve this?

[2016-03-08 22:12] digitalextremist commented on #706
Hello @balasankarc, we are in the process of removing `culture` as a submodule, and removing all the relative interdependencies you're noticing. Sorry for the trouble //

[2016-03-14 15:30] aayushranaut commented on #690
culture is a submodule in git. You need to recursively install all the submodules when cloning the repo.
You have two options.
1. If you haven't cloned the repo yet. Run the following command.
'git clone --recursive https://github.com/aayushranaut/celluloid'

2. If you have already cloned the repo. Run the following command.
'git submodule update --init --recursive'

[2016-03-14 15:39] digitalextremist commented on #690
Thank you @aayushranaut, yes. Sorry @krisleech. This will be wrapped up before `GSoC` formally starts this year.

[2016-03-14 15:50] digitalextremist commented on #568
@aayushranaut this is a good one to look through, it would give you insight into the actor system itself.

[2016-03-14 21:02] ioquatix commented on #698
Yes, please remove it. It's causing problems with RubyDNS:

[code]

Celluloid should become a library, using it as a framework should be a specific, explicit step, e.g.

[code]

[2016-03-14 21:17] tarcieri commented on #698
For what it's worth, that's how it used to work:

`require 'celluloid'` would boot it in library mode

`require 'celluloid/autostart'` would boot it in "framework mode", starting default services and installing the `at_exit` handler.

[2016-03-14 21:38] ioquatix commented on #698
Why was it changed?

[2016-03-14 21:45] tarcieri commented on #698
Not sure. @digitalextremist ?

[2016-03-14 21:51] digitalextremist commented on #698
This changed during the time between 0.15 and 0.17 but I will mop this up. About to do a pre-GSoC pass.

[2016-03-22 03:16] aj07 commented on #657
I clearly understood the need of (#632 ) but here m not getting why 1.9.3 being depreciated  ( #656 ).
Please clarify little bit more

[2016-04-03 23:26] ioquatix commented on #698
Have we made any progress on this issue?

[2016-04-03 23:45] ioquatix commented on #698
Guys can you please review the PR, we need to get this out ASAP IMHO. IT's breaking shit.

[2016-04-03 23:53] #698 closed

[2016-04-04 15:20] anthraxx commented on #706
Hi, just wanted to mention: thanks a lot. Just came around as I wanted to also ask for improvement as it really hurts packaging (I'm from Arch Linux).
However the current gem just seems to be a placeholder, or am I wrong? The important sync.rb is not inside it when i create the gem from the gemspec source so its about more then just use that require

[2016-04-24 02:34] ioquatix commented on #645
The whole registry concept is broken IMHO, the global state is a pain in the arse.

[2016-04-24 17:08] tarcieri commented on #645
@ioquatix the entire purpose is to provide a global naming service. I think you'd be hard pressed to find an actor system that doesn't have one.

[2016-04-28 07:20] ioquatix commented on #707
That's odd, can you give me some more details about the context in which you are running RSpec?

[2016-04-28 07:22] ioquatix commented on #697
I believe this has been fixed. It was due to some issues with removing a dead actor from a `Set`. I fixed this in c56438658fd376a4cd0897673ddbe04efecfc5e2.  Can you please re-test and confirm this is no longer an issue @dhh

[2016-04-28 20:44] headius opened #716 "Fiber.yield should not be used to exit fiber"
I found this code in `fibered.rb` while investigating a JRuby+Celluloid issue:
[code]

Note the TODO here.

If this `Fiber.yield` is intended to be the last thing the fiber does, then it would be better to just let it fall off the bottom of the fiber.

In MRI, when you do a Fiber.yield, the calling fiber gets swapped out and might GC if its Fiber object becomes dereferenced. In JRuby, where fibers

[2016-04-28 20:47] digitalextremist commented on #716
@headius aren't we falling off there by the `unless` portion?

[2016-04-28 20:48] headius commented on #716
Sorry, yes...I just mean you can remove the whole line, and wanted to explain why the original code leaks threads on JRuby.

[2016-04-28 20:52] digitalextremist commented on #716
I think this is @niamster's wheel house, per an issue we're still on, #463 I believe.

[2016-04-29 01:18] tarcieri commented on #716
I have no idea where that `Fiber.yield` came from or what the intention of having it there is.

I haven't taken the time to bisect, but it looks like it got added some time between 0.16 and 0.17:

https://github.com/celluloid/celluloid/blob/0-16-stable/lib/celluloid/tasks/task_fiber.rb

I would suggest removing it unless there's a good reason for having it there.

[2016-05-02 16:44] headius commented on #716
If I didn't make it clear, this last `yield` actually makes the fiber stick around *longer* on most implementations, since it's still waiting for one more resume.

[2016-05-22 15:15] simonc commented on #696
Is there any workaroud in the meantime? It's also happening with a Rails 4 app when Sidekiq is used. Every command takes ages to stop even a simple `rake db:migrate` takes forever :'(

[2016-05-22 19:47] digitalextremist commented on #696
@simonc are you using Rubinius or MRI?

[2016-05-22 20:06] simonc commented on #696
@digitalextremist MRI v2.3.1.

[2016-05-22 20:26] digitalextremist commented on #696
Waiting on CI then good to go.

[2016-05-23 00:05] digitalextremist commented on #696
( `listen` and therefore `guard` is causing the build to error, but feel free to use `master` as-is in the meantime; it has the fix )

[2016-05-24 07:55] simonc commented on #696
@digitalextremist actually I cannot use `master` right now, when adding this to my Gemfile
[code]
I get the following error when calling `bundle install`
[code]

[2016-05-24 08:07] sfroehler commented on #696
@simonc I had the same issue. The culture folder is a git submodule so you have to tell bundler to load submodules with ```submodules: true```:

[code]

[2016-05-24 08:07] digitalextremist commented on #696
Needs `submodules: true` also.

On May 24, 2016 12:55:22 AM PDT, Simon Courtois <notifications@github.com> wrote:

[2016-05-26 07:49] simonc commented on #696
@sfroehler Much better :grim: Thanks!

[2016-05-27 12:44] BastienDuplessier opened #718 "[RSpec/Rails] Including Celluloid in a class mess up connection with database"
Hello.
I have a little problem with celluloid, rspec and rails and I would like some help.

The problem is simple. I have a simple class with Celluloid included which count users.
[code]
And then, I have a test verifying if this method count the records.
[code]

But when I run RSpec, I get this :
[code]

Here's my spec_helper file, (my rails_helper is rails's default one).
[code]
This test passes

[2016-05-27 19:05] tmornini opened #719 "ThreadError: deadlock; recursive locking"
Hey guys. We're experiencing:

[code]

on Ruby 2.2.5 and 2.3.1 and these versions of Celluloid:

[code]

It _may_ be related to [this Ruby bug](https://bugs.ruby-lang.org/issues/11953). Note that other participants on that ticket indicate that 1.9.3 tip (which we have not tested against) and 2.2.4 do not exhibit this behavior.

This happens very reliably in a section of code where we intentionally

[2016-05-29 04:59] digitalextremist commented on #719
Will keep an eye out for this @tmornini -- out of curiosity, does your design specifically call for `MRI` or could `Rubinius` or `jRuby` be used?

[2016-05-30 06:47] tmornini commented on #719
Unfortunately, we do not feel confident that the majority of our code will run successfully on either.

[2016-05-30 12:06] digitalextremist commented on #719
@tmornini does the repro listed in the linked bug produce the `ThreadError` for you?

[2016-06-03 18:01] g-gagnon opened #720 "Threads leaking on exceptions"
I am currently working on a TCP server using JRuby 9.0.5.0 and Celluloid 0.17.3, where some hardware are connecting to. While working on my load testing, I have an unrelated exception occuring, and I try to terminate the current actor.

[code]

Each failing client tries to reconnect, thus creating a loop of exceptions. Many actors are created, and are supposed to be dying, but the number of active

[2016-06-04 08:56] digitalextremist commented on #720
I wouldn't be surprised if the `.dead?` call is raising an exception. But can you post a more complete gist?

[2016-06-06 06:33] digitalextremist commented on #719
I've looked at the code referenced, and only one of the two produces the exception under `2.2.5` -- the one that does, the second of the two, fails in `Singleton`

Going to need a reproduction and/or more of a description of the operations involved @tmornini?

[2016-06-06 06:34] digitalextremist commented on #720
Bump -- repro? #716 will be resolved in `0.17.4`

[2016-06-06 06:35] digitalextremist commented on #707
@balasankarc sounds like the paths in the environment are incorrect, and/or there's no load path set?

[2016-06-06 06:40] digitalextremist commented on #718
It seems that `rails` has special handlers behind the scenes to cause `User` and `UserCountCelluloid` to relate to each other some how, because there is no explicit relationship between them that I can see.

[2016-06-06 06:41] digitalextremist commented on #716
Thanks again for bringing this up @headius. I've since gone through and audited many areas and applied the change you said.

[2016-06-06 06:44] digitalextremist commented on #690
Closing in favor of #706 with @aayushranaut's advise being correct in the meantime.

@aayushranaut would you mind including your answer in the `README.md` where it fits well, and sending a PR?

[2016-06-06 06:44] #690 closed

[2016-06-06 06:45] digitalextremist commented on #706
Yes, in `0.17.5` / `0.18.0` ( the release after the one going out shortly, `0.17.4` ) this will be removed. Feel free to reopen this issue if it's still a problem after the submodule is removed.

[2016-06-06 06:45] #706 closed

[2016-06-06 06:59] digitalextremist commented on #612
Re-resolved in 8d8f1d460d7916598da875291b8e5ea68f948d3a, and incidentally already in `0.16.1`

[2016-06-06 06:59] #612 closed

[2016-06-06 07:05] digitalextremist commented on #697
How is this looking? Resolved? Need point release?

[2016-06-06 07:15] digitalextremist commented on #696
#706 will solve subsequent issue, 8d8f1d4 solved original issue; see https://github.com/celluloid/celluloid/issues/696#issuecomment-221195865 for temporary fix in the meantime until the next point release is cut. The CI/build errors are removed finally.

[2016-06-06 07:15] #696 closed

[2016-06-06 07:17] digitalextremist commented on #684
This isn't that huge of an issue but I need to bump this to the next version. I am going to talk to some of the other core contributors to make sure we don't have anyone directly depending on those symbols.

[2016-06-06 07:37] #716 closed

[2016-06-06 07:45] #657 closed

[2016-06-06 07:48] digitalextremist commented on #656
Basically done, just not forcing people not to use `1.9.3` yet.

[2016-06-06 07:48] #656 closed

[2016-06-06 07:50] digitalextremist commented on #683
Here you go @aayushranaut -- per our brief discussion.

[2016-06-06 07:51] #627 closed

[2016-06-06 07:52] #600 closed

[2016-06-06 08:02] digitalextremist commented on #663
Please re-open if this is still an issue for you!

[2016-06-06 08:02] #663 closed

[2016-06-06 13:00] ioquatix commented on #698
@digitalextremist Do you care to chime in here w.r.t. what you think is the best way forward. Thanks so much.

[2016-06-07 15:53] BastienDuplessier commented on #718
I've investigated a bit more the problem. It seems that it's not a Rails or RSpec problem but more a SQLite issue.
Seems that the database connection send back empty results when trying to access data through another thread. Trying to write (e.g. `User.create(email: "toto@mail.com")`) it raises this `ActiveRecord::StatementInvalid: SQLite3::BusyException: database is locked: INSERT INTO "users" ("

[2016-06-07 16:08] digitalextremist commented on #718
@chuckremes might know, but I don't think either of us are conversant with `Rails` convention; I do know he uses `SQLite` with `Celluloid` and he might have a quick opinion. Otherwise I will close this since you've identified it's not a `Celluloid` bug. Good luck!

[2016-06-07 16:08] #718 closed

[2016-06-07 17:16] headius commented on #680
I concur that this looks like a JRuby issue, and probably one that has been fixed (JRuby 1.7.11 is rather old now). I would strongly recommend trying a more recent version of JRuby, and if you can still reproduce it please report an issue in our tracker. Thank you!

[2016-06-07 17:21] digitalextremist commented on #680
Thank you @headius. Closing as we just got it straight from the source. Reopen if you need to!

[2016-06-07 17:21] #680 closed

[2016-06-08 04:02] aayushranaut commented on #690
[code]

Submodules is key here.

**Source:** https://github.com/celluloid/celluloid/blob/master/CONTRIBUTING.md

@digitalextremist I think I could move something like this to the main readme as a set of instructions for alternative installation via github. What do you think?

[2016-06-08 04:10] digitalextremist commented on #690
Yes, please post a PR & will merge!

[2016-06-08 15:11] chuckremes commented on #718
@BastienDuplessier I use sqlite3 and celluloid together. You might want to look at your ActiveRecord configurations. There is probably an option to make sqlite3 access single threaded. If that is the default then trying to access the db from another thread will throw a lock exception.

I use the Sequel gem which has DB#connect(:single_threaded => true) as an option. Look for something similar in A

[2016-06-08 15:25] BastienDuplessier commented on #718
Thanks for the answers, I'll check this.

[2016-06-09 18:13] marcandre commented on #719
Is this related to the change in the `prime` library? Could we have the full stacktrace?

[2016-06-15 02:02] digitalextremist opened #724 "Optimize Fibers for MRI 2.3.1 & Rubinius 3.40+"
As pointed out by @brixen, during discussions while refactoring `Rubinius` to implement `Fiber` using `pthreads`... the way we currently use `Thread` locals is not compatible with `2.3.1` -- when asked "how has `Celluloid` historically used `Fiber` and what experiences have we had" -- it became clear this is an area where we're using out-dated semantics which are implemented differently from engin

[2016-06-15 02:04] digitalextremist commented on #724
@aayushranaut watch this issue closely, this is one of the most performance-intensive aspects of `Celluloid`

[2016-07-11 22:53] HerbCSO opened #728 "0.17.4/0.18.0 due out when?"
I would love to be able to take advantage of the `fork` fix (#696) without having to use the `master` release. Any chance there could be a 0.17.4 release sometime soon?

[2016-07-11 22:55] digitalextremist commented on #728
This will be within the next few weeks at the most. We are in the middle of Google summer of code and doing repository maintenance. Thank you for your patience

[2016-07-11 23:01] HerbCSO commented on #728
Sweet, thanks for the info, that's perfect!

[2016-07-11 23:01] #728 closed

[2016-07-13 12:27] chuckremes commented on #724
I just checked the history at ruby-doc.org and it shows that `Thread#thread_variable_get` and `set` were introduced as of 2.0.0. The semantics changed with the 2.x series which pretty much everyone should be using by now. Can we just deprecate 1.9 and say next release is MRI 2.x and later?

[2016-07-20 06:35] digitalextremist commented on #728
Strangely, out of everywhere in the world I could be -- I believe that right about when you initiated this ticket, I had just crossed from `DC` into `Arlington` in my car, at basically the mid-point in a 7,000-mile trip around the US. That's crazy.

[2016-08-11 00:19] tmornini opened #730 "Crashing: TypeError: exception class/object expected"
Hey all!

Just saw a very interesting exception and through you'd like to take a look.

I'll debug this further on my side and update this ticket when I know the root cause.

gem versions:

[code]

backtrace:

[code]

[2016-08-12 21:37] tmornini commented on #730
Hey all.

I fixed this issue in my code base by making a class not async.

The method in question read from STDIN and yielded the results. I suspect it was the yield that was an issue.

In any case, that exception thrown was not in any way indicative the problem, so perhaps some work needs to be done on that?

[2016-08-31 10:30] HerbCSO commented on #728
@digitalextremist any news on the new release? Anything I could jump in and help on to help push it over the edge (frankly I don't know that I can help much, but I'm willing to roll up my sleeves on something small to get my feet wet ;] )?

[2016-08-31 13:13] digitalextremist commented on #728
@HerbCSO `GSoC` just finished over the last few days. Now, after both years we've done, we have @dilumn and @prathmeshranaut possibly willing to jump in here to help ( there are others but I think these two guys might be the most prepared for this ticket ) so I invited them to jump in here. If they/you are not able to jump in and/or I can't answer whatever they/you need to get through this, I will

[2016-09-01 19:39] HerbCSO commented on #728
Great, thanks so much!

[2016-09-02 13:34] dilumn commented on #728
@HerbCSO Always welcome to contribute to `celluloid`. [Here](https://github.com/celluloid/celluloid/labels/easyish) are the issues labelled `easyish`. You can start things from there & reading the [wiki](https://github.com/celluloid/celluloid/wiki) will make you more comfortable

[2016-09-03 00:40] digitalextremist commented on #728
@dilumn I am guessing @HerbCSO is in a situation where he needs `Celluloid` to release a new version, so is offering to help just in this instance. I am trying to avoid that for him though, if you could help get this release out that would be great since you are more prepared. I am on `Slack` as usual

[2016-09-28 16:23] HerbCSO commented on #728
@digitalextremist that is correct.

I really don't wanna be a pest, but I'm gonna pester you anyway... ;] Any news on the release date for the next version? I'm really not trying to be pushy here, just wanna see what kind of timeframe I should expect to be working with.

Thanks!

[2016-10-05 16:37] emanzx opened #731 "eye error with celluloid segmentation fault"
I try to run my eye configs but keep crashing with this kind of error.

/home/system/.rvm/gems/ruby-1.9.3-p551@dnscell/gems/celluloid-0.17.3/lib/celluloid/task/fibered.rb:21: [BUG] Segmentation fault
ruby 1.9.3p551 (2014-11-13 revision 48407) [x86_64-freebsd10.3]

-- Control frame information -----------------------------------------------
c:0021 p:---- s:0070 b:0070 l:000069 d:000069 CFUNC  :yiel

[2016-10-05 17:27] tarcieri commented on #731
That is a Ruby VM error for a Ruby VM with is end-of-life. Please update to a newer, maintained version of Ruby.

[2016-10-05 17:27] #731 closed

[2016-10-06 18:30] aliaksandrb opened #732 "Seems that deprecation is shown up when it should not"
Hi There!

Using the `Celluloid 0.17.3` and get the "INFO -- : Celluloid 0.17.3 is running in BACKPORTED mode. [ http://git.io/vJf3J ]" message when run it.
According to link above I should switch to `require 'celluloid/current'` over `require 'celluloid'` / `require 'celluloid/autostart'` which I definitely did.
But that message still pop-up.

When I've checked where it comes from I've found inte

[2016-10-21 17:03] aliAsadi92 opened #733 "ERROR -- : Couldn't cleanly terminate all actors in 10 seconds!"
When I write:
[code]
I take this error:
[code]
Is there someone to help me?

[2016-11-02 16:39] HerbCSO commented on #728
I _really_ hate to be such a pest - but is there any chance of a new release on the horizon here?

[2016-11-02 16:55] tarcieri commented on #728
@digitalextremist I think we should plan on releasing master as 0.18.0 soon

[2016-11-17 18:30] bjreath commented on #728
@digitalextremist Anything a community member can be doing to help with cutting a release?

[2016-11-18 02:42] tarcieri commented on #728
@bjreath I'll look at pushing out a set of `0.18.0.pre` releases this weekend. You can help by testing them!

[2016-11-18 17:46] bjreath commented on #728
@tarcieri Sounds good. Thanks!

[2016-11-24 14:24] blanchma opened #734 "NoMethodError: private method `to_ary' called for #<Listener:0x007fc1b452fe90>"
I'm running Ruby 2.2 with celluloid (0.17.3). I get this error but I don't have a clue of the issue
NoMethodError: private method `to_ary' called for #<Listener:0x007fc1b452fe90>
	/Users/blanchma/.rvm/gems/ruby-2.2.2@concourse/gems/celluloid-0.17.3/lib/celluloid/calls.rb:28:in `public_send'
	/Users/blanchma/.rvm/gems/ruby-2.2.2@concourse/gems/celluloid-0.17.3/lib/celluloid/calls.rb:28:in `dispatch

[2016-11-30 01:14] waynerobinson opened #741 "Backtrace on actor_died"
Is there someway to get a backtrace when catching the `actor_died` callback so we can log?

[2016-11-30 04:35] tarcieri commented on #741
Not with the current API, although `trap_exit` and `Celluloid.exception_handler` provide a backtrace

[2016-11-30 04:35] #741 closed

[2016-12-05 04:55] mconigliaro opened #742 "Unable to enable debug logging without $CELLULOID_DEBUG = true"
I tried this:

    Celluloid.logger.level = ::Logger::DEBUG

I also tried with my own logger:

    Celluloid.logger = ::Logger.new(STDERR)
    Celluloid.logger.level = ::Logger::DEBUG

But messages logged with `debug()` never appear. The only way I've been able to get debug messages is by setting `$CELLULOID_DEBUG = true`. Is this the intended behavior?

[2016-12-21 10:53] mattheworiordan opened #743 "Celluloid::Actor registry leads to DeadActorError for supervised actor"
I have seen some odd issues in our logs recently and tried to reproduce it.

I use the registry for Actors so that I can avoid having to link all my Actors together and restart everything when one Actor fails. What I mean by that is that I have a controller which starts up all the actors at the outset, and if one of those actors fails, it does not matter as I rely on the Supervisor functionality t

[2016-12-21 14:55] SpComb opened #744 "Wiki Conditions documentation signal vs broadcast"
The [Conditions Wiki page](https://github.com/celluloid/celluloid/wiki/Conditions) says:

But the actual [code](https://github.com/celluloid/celluloid/blob/v0.17.3/lib/celluloid/condition.rb#L65) has separate `signal` vs `broadcast` methods, where `signal` only appears to wake up one waiter, and it seems like you would need to use `broadcast` to get the behavior described in the wiki page?

[code]

[2017-01-13 19:07] Faisal-nfl opened #745 "Closing a pool explicitly"
I need to give User an option to Start and Terminate pool.
Is there a way that I can close a pool ?

[2017-01-19 09:39] Faisal-nfl opened #746 "From where to start a pool"
My pool will work for life time.
So from where to start the pool.
1 - If start on creating a new User, i.e main thread. main thread halts, and has to wait for the pool to finish work.
2- And Celluloid asks to avoid creating a pool with in an actor. so I can't create some new thread and call a async method in which to create pool.

So Where to create pool ?

[2017-01-19 15:59] tarcieri commented on #746
The mailing list is the right place to ask (look like you already asked there)

[2017-01-19 15:59] #746 closed

[2017-02-02 11:03] HoneyryderChuck opened #747 "actor unable to terminate when handling infinite io-like stream"
My use case is this actor responsible for handling lazy pipelines and passing them around. Many cases are of finite pipelines, but some may be infinite, when I'm handling IO.
There is a certain use case where I'm handling stdio input, and I can't promptly terminate the actor when the user issues Ctrl+C. Here is a small repro script:

[code]

I'm still trying to get a decent workaround for this, bu

[2017-02-02 11:12] HoneyryderChuck commented on #747
My comment "waits for the mailbox to be consumed" is wrong. Shutdown inserts an exit event at the top of the mailbox to make it the next message to be interpreted. It still needs to finish the current, though.

[2017-02-02 11:51] HoneyryderChuck commented on #747
The problem seems to have been the default `at_exit` call, this has been apparently dealt with in the pre release from 0.18 . Any dates for the release?

I'll close the ticket, as it has been apparently taken care of.

[2017-02-02 15:43] HoneyryderChuck opened #748 "0.18.0.pre breaks Celluloid.running?"
[code]

[2017-02-02 16:00] #747 closed

[2017-02-16 00:18] tsabat commented on #748
I've experienced this too.

[2017-02-16 00:47] tarcieri commented on #748
This is at least partially intentional:

`require "celluloid"` does NOT call `Celluloid.boot`
`require "celluloid/autostart"` is the equivalent of `require "celluloid" && Celluloid.boot`

This allows tools using Celluloid as a library to avoid automatically starting Celluloid's background services simply by loading the library.

As far as what `Celluloid.running?` should do in this case, perhaps i

[2017-02-16 22:38] HoneyryderChuck commented on #748
@tarcieri I get the meaning of the new require rules and I welcome them 👍  It's the `running?` call semantics which seem iffy. But since we are on the same page regarding that (about returning `false`), that'll make accepting the PR easier ;)

[2017-02-21 22:12] tarcieri commented on #748
Please send a PR at your leisure

[2017-02-21 22:53] HoneyryderChuck commented on #748
@tarcieri already did, weeks ago #749

[2017-02-23 22:43] O1O1O1O opened #750 "Explicit return in block passed to Actor leaves task running"
If I pass a block that contains an explicit `return` to an Actor method and `call` the block from the actor it will leave a task running.

[code]
[code]

When using an actor pool it sees the actor as still busy and so requests to get an actor from the pool will eventually block.

While `return` is probably a bad thing to do in a block passed to an actor I think it should at least be spelled out as

[2017-02-25 18:55] #748 closed

[2017-02-25 18:56] tarcieri commented on #750
If you'd like to send a PR for that change we can discuss it there

[2017-02-25 18:58] olleolleolle commented on #677
Hello, I made very small changes to this program, and it runs on current JRuby 9.1.7.0.

Here is the program I ran: https://gist.github.com/olleolleolle/ddd12626d8651b256531b97880334620

Changes made:

- Removed the `celluloid/autostart ` which is represented by the automatically-enabled BACKPORTED mode
- Rubocop auto-correct
- assigned the `result` variable, and then `puts`ing it

Output now:

[c

[2017-02-25 19:02] #677 closed

[2017-02-27 17:57] O1O1O1O commented on #750
Okay, I'll work on it and submit the PR - I just wanted to see if you thought I was completely off-base with that suggestion.

[2017-02-27 18:17] tarcieri commented on #750
Looks good to me 👍

[2017-03-26 11:30] ioquatix opened #755 "I don't understand celluloid/culture and it's breaking my bundler"
@digitalextremist can you please explain why this is necessary? It seems to make celluloid more complicated and even more of a "special snowflake" as it were. Sorry, it might be a great solution to some problem, I just don't get it.

[2017-03-26 15:27] HoneyryderChuck commented on #755
@ioquatix are you talking about the submodule hell? I was under the impression that it was no longer present in the master branch.

[2017-03-26 17:33] tarcieri commented on #755
Yeah, it's been removed from `celluloid/celluloid` master. We can remove it from the other Celluloid projects as well.

[2017-05-03 18:32] dlau opened #758 "Consecutive Celluloid.boot / Celluloid.shutdown calls throw Celluloid::Supervision::Configuration::Error::InvalidSupervisor"
Hi,

In specs, I am calling `Celluloid.boot` and `Celluloid.shutdown` before and after each block evaluation, per recommended usage in the wiki.

Gemfile:
[code]

Here is a stripped down test file:

[code]

When run, the output looks like this:
[code]

This is causing most complex test cases to fail in a more complex test case in our fork of [celluloid-eventsource](https://github.com/launchdarkly/

[2017-05-07 19:55] totalslacker commented on #743
Is there any updated information on this? I'm seeing the same behavior.

[2017-05-23 18:57] fgrehm commented on #728
@tarcieri I hate to be the one to ask this question but do we have any ETA on this? Tks a lot in advance 🍻

[2017-05-23 19:28] ccoenen commented on #728
The .pre has been delivered as promised. Did you try it? It's been out there for half a year without major complaints - chances are, it's stable.

[2017-05-24 14:31] fgrehm commented on #728
@ccoenen oh sorry, I'm giving that a shot today. we had an issue in the past with an upgrade but I didn't realize we haven't given 0.18.0.pre a shot 🤦‍♂️ I'll report back in case we find any issues! 🍻

[2017-06-07 04:34] mconigliaro commented on #742
I just discovered that calling `Celluloid.logger.debug()` instead of just `debug()` seems to work as expected.

[2017-06-21 12:05] florin555 commented on #758
A quick and dirty fix that I found to work is:

[code]

[2017-06-26 00:46] tarcieri commented on #758
Seems like this is a bug in `Celluloid.shutdown` then and it should be terminating and clearing `@actor_system`

[2017-06-28 00:59] tarcieri commented on #742
Ugh, I should just get rid of those globals. So confusing...

[2017-07-12 22:12] zsiddique opened #762 "Can we get a 0.18 release?"
We are currently using the 0.18.0.pre-release to fix this issue, https://github.com/celluloid/celluloid/issues/696.  But it seems with the changes in Rubygems you can no longer use pre-release to satisfy dependencies unless you pass the --pre flag. This issue was brought up almost a year ago so I think it would be safe to cut a release now.

[2017-07-13 22:27] zsiddique commented on #728
Can we reopen this issue? https://github.com/celluloid/celluloid/issues/762

[2017-07-14 02:06] tarcieri commented on #762
There are still some open issues I'd like to address, and I haven't had time to go through and put together a proper changelog since it's been so long since the last release.

I'm also pretty busy right now, so I'm not sure if I'll even be able to look at this for another couple weeks.

If you're interested in helping out by fixing some of the open issues, I can provide some more direction.

[2017-07-14 18:23] zsiddique commented on #762
Do we have a filter/list for open issues on the 0.18.0? I see the project for 0.18.0 but.  IMHO if this project is stalling its best to address only bugs against 0.18pre and cut a release and the future can be figured out then.

[2017-07-14 18:29] tarcieri commented on #762
I can tag the 0.18-specific regressions. There are a few of them.

[2017-07-14 18:49] zsiddique commented on #762
So we are not blocked on fixing all the 0-18 regression I have created a PR for the fix in #696 to be applied against the 0-17-stable branch.  You think this is something you guys can check out quickly and take a look.  This would fix this issue for us: https://github.com/launchdarkly/ruby-client/issues/79

[2017-08-29 23:22] mattheworiordan opened #764 "Timeout::Error - unknown cause or caller stacktrace"
I have recently started noticing Actors failing in our Celluloid service with the following error and stacktrace:

[code]

I am a bit confused as to what is causing this error as there is no stack trace that correlates with any calls from my app.  Any advice on how to work out what could be causing this error would be hugely appreciated so that I can look into the root cause.  I suspect it could b

[2017-08-29 23:37] tarcieri commented on #764
This is likely caused by something in your code raising `Timeout::Error`: Celluloid itself does not use timeout.rb as it is not thread safe.

However, Celluloid does propagate stack traces between "tasks", and it looks like the original stack trace may be getting lost somewhere in that propagation.

Narrowing down what in your code is using timeout.rb would be a good first step towards debugging t

[2017-08-29 23:38] mattheworiordan commented on #764
Ok, unfortunately that means it's another dependency raising that exception, but I really appreciate you confirming it's not used by Celluloid.  That's a good start.

Any ideas how that may happen?

Thanks for the super speedy response!

[2017-08-29 23:42] tarcieri commented on #764
It would be a bug in Celluloid if true

[2017-09-04 11:38] mattheworiordan commented on #764
FYI. I did track it down to an HTTP request that resulted in a `Timeout::Error` being raised.  Not sure if there is anything I can do to help diagnose why the stacktrace was not passed on correctly?

[2017-09-07 15:09] tarcieri commented on #764
I'm guessing it's because `Timeout::Error` is rooted in `Exception` and not `StandardError`, and (for good reasons) Celluloid does not rescue `Exception`

[2017-09-12 05:17] #758 closed

[2017-11-14 12:27] #227 closed

[2017-11-14 12:34] digitalextremist commented on #227
@halorgium!

[2017-12-09 01:36] kostya opened #770 "memory leak with timers"
this program eats 2Gb in 10 hours. i think this related somehow to gem timers (also there was a leak in it before https://github.com/celluloid/celluloid/issues/455). ruby 2.4.1p111, celluloid: "0.17.3", timers:  "4.1.2", Ubuntu 12.04.1 LTS

[code]

[2017-12-09 06:49] kostya commented on #770
actually seems this is not about timers, this leak also (1Gb in 5 hours):
[code]

[2017-12-15 01:43] wdrury commented on #696
This continues to be a problem with Celluloid 0.17.3 and Spring 2.0.2.  New release any time soon?

[2017-12-29 07:32] jhubert commented on #728
Just confirming for others that we're using 0.18.0.pre successfully in production on a high traffic app for both launchdarkly and actioncable.

[2017-12-29 07:33] jhubert commented on #696
@wdrury Have you tried using the 0.18.0.pre release of Celluloid? That fixed the issue for us.

[2018-01-04 18:19] tarcieri commented on #728
I would like to coordinate a 0.18 release but am short on time.

If anyone would like to help with the busywork of doing a release, I would be happy to help advise what needs to be done.

Unfortunately it's been a long time since the last release (almost 2 years) which makes things that much harder. I don't want to do a release after so long without good documentation of what has changed, which is

[2018-01-26 15:12] meetme2meat opened #771 "Reconnecting ActiveRecord Inside Celluloid always fails."
Chasing an issue where my Celluloid script is unable to reconnect to the database if, in case the connection gets lost.

Found [this discussion](https://groups.google.com/forum/#!searchin/celluloid-ruby/ActiveRecord%7Csort:date/celluloid-ruby/n9a1RpRztjY/P859mSPvBQAJ) around celluloid and ActiveRecord from 2011 but nothing in it that help me here.

Tested the AR reconnect under JRuby Thread, the r

[2018-01-26 19:40] zenmatt commented on #771
I have been troubleshooting the same issue without success.

[2018-01-27 08:40] meetme2meat commented on #771
@zenmatt Anything that you can share here.

[2018-02-22 09:51] andy-twosticks opened #772 "Getting live Actors of a given class without DeadActorError"
I keep finding I need to retreive actors that are alive and of a given class -- normally just to count them.

What's the correct way of doing this without getting a DeadActorError?

The obvious doesn't work:
[code]
Maybe this is because of a race condition -- `alive?` is true when the first part of the test happens, but false when we reach the second part?  But I don't know for sure.

The only wor

[2018-02-23 14:36] andy-twosticks commented on #742
Similar problem here -- I have a Logger object, but if I set Celluloid.logger to the logger object, it doesn't output anything.

[2018-03-24 21:15] tboyko commented on #463
I believe that I am still seeing this issue with `0.17.3` and MRI. Thought I was going crazy until I found this thread! In our use case, we are instantiating many Actors over time (and terminating) so that we have a constant "alive" number of actors.

I've implemented the suggestion by @niamster to dereference instance variables in a finalizer, but this is just a partial workaround. Is there any w

[2018-07-02 09:40] perlun commented on #770
FWIW, I am also seeing similar _but not entirely_ identical behavior with Celluloid Notifications. **Only on JRuby**, works fine on MRI.

The script below will use up about 4 GiB in 5 minutes. Some of this will be reclaimed on GC, but even so, there is still an unreasonably large amount of memory being retained.

[code]

Are we using Celluloid Notifications in the completely wrong way or is there

[2018-08-21 16:09] tarcieri opened #779 "Celluloid is unmaintained: looking for volunteer maintainers"
If there are any volunteers interested in taking over maintenance of Celluloid, please reach out to me, either on this issue, or at my GMail address: bascule. I can help mentor you.

--

NOTE: Discussion about the future maintenance of Celluloid has largely moved to the Gitter:

https://gitter.im/celluloid/celluloid

[2018-08-21 19:06] digitalextremist commented on #779
@dilumn?

[2018-08-22 08:38] digitalextremist commented on #779
@tarcieri: @dilumn has expressed some interest ( and will likely come here and confirm that ) ... we've stayed in contact over the years since he came through `GSoC`. If a hit-list of items can be put together for him, I'm available to advise/mentor him as well; hopefully he will attract additional help around him.

[2018-08-22 14:44] tarcieri commented on #779
@dilumn the main problems are there hasn't been a release in over two years (of 0.17 or 0.18), and there are a lot of open issues which have not been responded to.

[2018-08-22 16:29] dilumn commented on #779
As the first thing, @tarcieri can you label the issues? So then we can have a look at them separately

[2018-08-26 19:40] rmoriz commented on #779
Why did you delete https://github.com/celluloid/culture instead of just putting it in "read-only"/"archive" mode? :(

[2018-08-26 23:57] tarcieri commented on #779
I merged its contents back into the respective repositories so it didn’t need to be a submodule anymore. Submodules are a pain in the ass to work with.

[2018-08-27 19:37] valeronm commented on #779
@tarcieri deleting of https://github.com/celluloid/culture broken `bundle install` for all users who used unreleased version 0.17.4 from the "stable" branch `0-17-stable` because of annoying "Couldn't cleanly terminate all actors in 10 seconds!" message in 0.17.3

[2018-08-27 23:10] tarcieri commented on #779
@valeronm that's unfortunate, and probably worth opening an separate issue about. If anyone still has a copy, I can put it back up.

[2018-09-01 14:39] myers opened #784 "Restore culture repo for all those trying to get the bug fix"
I pull this out of my rubygems cache.

[culture.git.zip](https://github.com/celluloid/celluloid/files/2342434/culture.git.zip)

[2018-09-04 15:15] myers commented on #784
@tarcieri this is what you requested in #779

[2018-09-04 15:43] tarcieri commented on #784
Thanks, it's back up at https://github.com/celluloid/culture

[2018-09-04 15:43] #784 closed

[2018-09-05 18:11] myers commented on #784
Thanks!

[2018-12-14 16:51] Esity commented on #779
@tarcieri  I am unsure of how much time I can spend on actual commits at this point but I do have bandwidth to help with maintaining repos, wikis, issues etc.  Let me know if you have any interest

[2018-12-17 06:13] tarcieri commented on #779
@ngetahun @Esity if either of you would like to help, by all means go for it. I don't have a lot of time to advise / mentor right now, unfortunately (despite what I may have said earlier)

[2018-12-17 14:41] Esity commented on #779
@ngetahun @digitalextremist @dilumn
What do you guys think about getting a Slack channel running so we can start communicating about this stuff and get organized?

[2018-12-17 14:46] tarcieri commented on #779
I can easily set up a Gitter, which I think is a little more easily discoverable as they're open to the public and support GitHub for federated identity

[2018-12-17 18:54] tarcieri commented on #779
Oh hey, looks like we already have one https://gitter.im/celluloid

[2018-12-18 02:35] dilumn commented on #779
Created one room https://gitter.im/celluloid/celluloid

[2019-01-01 22:51] tarcieri commented on #762
@zsiddique there's a 0.18.0.pre2 release out... mind helping test it?

[2019-01-04 23:53] zsiddique commented on #762
We ended up refactoring our codebase and removing celluloid

[2019-01-06 16:48] tarcieri opened #789 "0.18.0 release tracking issue"
This is a tracking issue for a Celluloid 0.18 release (see also #762, #728).

The [master branch](https://github.com/celluloid/celluloid/tree/master) contains the code to be released. This includes a lot of refactoring to consolidate Celluloid from fragmented gems and removed global variables and other hard-to-maintain bits.

I don't have time to do the release myself though (see #779), so I'm loo

[2019-01-06 16:49] tarcieri commented on #762
Closing in favor of #789

[2019-01-06 16:49] #762 closed

[2019-01-14 15:42] tarcieri commented on #789
I mean trying out the 0.18.0.pre2 prerelease in some real-world Celluloid projects and seeing if there are issues with the upgrade before we do a release.

[2019-01-15 17:31] tarcieri commented on #195
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:31] #195 closed

[2019-01-15 17:31] tarcieri commented on #232
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:31] #232 closed

[2019-01-15 17:31] tarcieri commented on #251
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:31] #251 closed

[2019-01-15 17:32] tarcieri commented on #262
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #262 closed

[2019-01-15 17:32] tarcieri commented on #274
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #274 closed

[2019-01-15 17:32] #294 closed, assigned to nobody

[2019-01-15 17:32] tarcieri commented on #339
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #339 closed

[2019-01-15 17:32] tarcieri commented on #341
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #341 closed

[2019-01-15 17:32] tarcieri commented on #660
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #660 closed

[2019-01-15 17:32] tarcieri commented on #659
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #659 closed

[2019-01-15 17:32] tarcieri commented on #658
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #658 closed

[2019-01-15 17:32] tarcieri commented on #645
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:32] #645 closed

[2019-01-15 17:33] tarcieri commented on #639
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:33] #639 closed

[2019-01-15 17:33] tarcieri commented on #638
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:33] #638 closed

[2019-01-15 17:36] tarcieri commented on #632
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #632 closed

[2019-01-15 17:36] tarcieri commented on #591
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #591 closed

[2019-01-15 17:36] tarcieri commented on #574
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] tarcieri commented on #573
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #573 closed

[2019-01-15 17:36] tarcieri commented on #568
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #568 closed

[2019-01-15 17:36] tarcieri commented on #565
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #565 closed

[2019-01-15 17:36] tarcieri commented on #550
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #550 closed

[2019-01-15 17:36] tarcieri commented on #536
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #536 closed

[2019-01-15 17:36] tarcieri commented on #529
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:36] #529 closed

[2019-01-15 17:37] tarcieri commented on #509
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:37] #509 closed

[2019-01-15 17:37] tarcieri commented on #499
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:37] #499 closed

[2019-01-15 17:37] #463 closed, assigned to digitalextremist, niamster

[2019-01-15 17:37] tarcieri commented on #427
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:37] #427 closed

[2019-01-15 17:37] tarcieri commented on #421
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:37] #421 closed

[2019-01-15 17:37] #386 closed, assigned to nobody

[2019-01-15 17:37] tarcieri commented on #367
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:37] #367 closed

[2019-01-15 17:37] tarcieri commented on #366
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:37] #366 closed

[2019-01-15 17:40] tarcieri commented on #358
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:40] #358 closed

[2019-01-15 17:40] tarcieri commented on #661
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:40] #661 closed

[2019-01-15 17:43] tarcieri commented on #669
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:43] #669 closed

[2019-01-15 17:44] tarcieri commented on #671
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:44] tarcieri commented on #683
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:44] #683 closed

[2019-01-15 17:44] tarcieri commented on #684
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:44] #684 closed

[2019-01-15 17:45] tarcieri commented on #697
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #697 closed

[2019-01-15 17:45] tarcieri commented on #707
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #707 closed

[2019-01-15 17:45] tarcieri commented on #719
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #719 closed

[2019-01-15 17:45] tarcieri commented on #720
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #720 closed

[2019-01-15 17:45] tarcieri commented on #724
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #724 closed

[2019-01-15 17:45] tarcieri commented on #730
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #730 closed

[2019-01-15 17:45] tarcieri commented on #732
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #732 closed

[2019-01-15 17:45] tarcieri commented on #734
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #734 closed

[2019-01-15 17:45] tarcieri commented on #742
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #742 closed

[2019-01-15 17:45] tarcieri commented on #743
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] tarcieri commented on #744
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:45] #744 closed

[2019-01-15 17:46] tarcieri commented on #750
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:46] #750 closed

[2019-01-15 17:46] tarcieri commented on #755
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:46] #755 closed

[2019-01-15 17:46] tarcieri commented on #764
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:46] tarcieri commented on #770
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 17:46] tarcieri commented on #771
Closing as stale. If you are still interested in this issue, please reopen it.

[2019-01-15 22:42] mattheworiordan commented on #764
Sure, you can close, but sadly this is not resolved. Celluloid overall is a fantastic gem, but plagued with edge cases that keep terminating our long running services, which of course goes against the idea that we fail early and recover - we fail and die.  I appreciate I've not contributed a PR to fix the issue, so thanks for following up on this.

[2019-01-15 22:44] mattheworiordan commented on #743
This is an ongoing issue.  I have horrible code now in the platform that detects `DeadActorError` exceptions, and reboots the process.  Honestly some of the most horrible workarounds I've had to implement because I have no other solution :(

[2019-01-15 23:57] tarcieri commented on #764
@mattheworiordan thanks for your candid feedback! I agree Celluloid was what some might describe as "too magical", and bugs/failure modes like this somewhat awful to debug, which is perhaps why I soured on the entire thing.

I'm trying to visibly deprecate Celluloid from the Ruby ecosystem, but there are volunteers interested in supporting its existing userbase, so I'm trying to do some initial tr